<template>
  <div class="card person__item person__item--smaller add">
    <div class="card__img">
      <figure class="open__join" v-on:click.prevent="apply">
        <img src="https://via.placeholder.com/275x275" alt="">
        <img class="add__icon" src="/static/images/icon-plus.svg" alt="Plus">
      </figure>
    </div>
    <h4 class="card__title person__title" v-lang.canJoin>You can join</h4>
    <div class="article">
      <p class="card__position" v-lang.talent>Talent</p>
    </div>

    <transition name="fade">
      <div id="modalAfterSubmit" v-if="submitted">
        <div class="modal__backdrop" v-bind:class="{ js__open: isActive }" v-on:click.prevent="close"></div>
        <div class="modal__wrap" v-bind:class="{ js__open: isWrapActive }" data-modal="after-submit">
          <div class="modal modal__full-width">
            <div class="modal__inner modal__inner--morepad">
              <button type="button" class="close__modal button button--circle" v-on:click.prevent="close">
                <img src="/static/images/icon-close.svg" alt="Close">
              </button>
              <div class="modal__content-wrap custom__scrollbar">
                <div class="modal__content tc">
                  <h2 class="section__title" v-lang.interest>Thank you for your interest</h2>
                  <div class="article mb20">
                    <p v-lang.insertInfo>Please insert your information below and we will be in touch.</p>
                  </div>
                  <form class="amount__submit">
                    <div class="input--wrap">
                      <input class="input input--bordered" type="text" name="firstName" :placeholder="firstNameph" v-model="firstName" v-validate="'required'">
                      <span v-show="errors.has('firstName')" class="input--message">{{ errors.first('firstName') }}</span>
                    </div>
                    <div class="input--wrap">
                      <input class="input input--bordered" type="text" name="lastName" :placeholder="lastNameph" v-model="lastName" v-validate="'required'">
                      <span v-show="errors.has('lastName')" class="input--message">{{ errors.first('lastName') }}</span>
                    </div>
                    <div class="input--wrap">
                      <input class="input input--bordered" type="text" name="email" :placeholder="emailph" v-model="email" v-validate="'required|email'">
                      <span v-show="errors.has('email')" class="input--message">{{ errors.first('email') }}</span>
                    </div>
                    <div class="input--wrap">
                      <textarea class="input input--bordered" id="message" name="message" :placeholder="messageph" cols="30" rows="10" v-model="message" v-validate="'required'"></textarea>
                      <span v-show="errors.has('message')" class="input--message">{{ errors.first('message') }}</span>
                    </div>
                    <div class="form__error" v-if="error !== ''">{{ error }}</div>
                    <button class="button" type="submit" v-on:click.prevent="submitApplication" v-if="!isSuccess" v-lang.submit>Submit</button>
                    <div class="form__message form__message--success" v-bind:class="{ js__open: isSuccess }" v-lang.joinThank>Thank you for your application, we will get in touch with You shortly!</div>
                  </form>
                  <div class="article">
                    <small v-lang.safeInfo>Your information will remain safe with us and is not given to any third party</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
<script>
  import { configuration } from '@/configuration'
  import axios from 'axios'

  export default {
    created () {},
    data () {
      return {
        firstName: '',
        lastName: '',
        email: '',
        message: '',
        submitted: false,
        error: '',
        isWrapActive: false,
        isActive: false,
        isSuccess: false
      }
    },
    methods: {
      apply () {
        this.isActive = true
        this.isWrapActive = true
        this.submitted = true
      },
      close () {
        this.isActive = false
        this.isWrapActive = false
        this.submitted = false
        this.isSuccess = false
      },
      submitApplication () {
        var that = this
        this.$validator.validateAll().then((result) => {
          if (!result) {
            return
          }
          axios({
            method: 'post',
            url: `${configuration.apiURL}/applicant/apply`,
            data: JSON.stringify({
              firstName: this.firstName,
              lastName: this.lastName,
              email: this.email,
              message: this.message
            }),
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            }
          })
          .then(response => {
            // that.submitted = false
            that.isSuccess = true
            that.error = ''
            that.email = ''
            that.firstName = ''
            that.lastName = ''
            that.message = ''
            that.token = response.data.token
            that.$nextTick(() => {
              that.$validator.reset()
            })
          }).catch((error) => {
            if (error.response) {
              // var errorCode = error.response.status
              var errorData = error.response.data
              that.error = errorData.message
            }
          })
        })
      }
    },
    computed: {
      firstNameph () {
        return this.translate('firstNameph')
      },
      lastNameph () {
        return this.translate('lastNameph')
      },
      emailph () {
        return this.translate('emailph')
      },
      messageph () {
        return this.translate('messageph')
      }
    }
  }
</script>
