<template>
  <section id="media" class="section section--scroll media">
    <div class="container">
      <div class="carousel__wrap show__mob--bl clearfix pb10">
        <carousel :perPage="1" :perPageCustom="[[768, 3], [1024, 5]]" v-if="rootItems.features_grid">
          <slide v-for="(feature, index) in rootItems.features_grid" :key="feature.id">
            <div class="icon__wrap mb20">
              <img :src="`/static/images/icon-${feature.icon}.svg`" alt="Icon">
            </div>
            <h5 class="fw__700 mb5 ttu">{{ feature.title }}</h5>
            <div class="article mb10">
              <p>{{ feature.desc }}</p>
            </div>
            <span class="link__bordered link__bordered--xs read__more" v-on:click="gatherContent" v-lang.readMore>Read more</span>
            <div class="hidden">
              <div class="article" v-html="feature.modal_desc"></div>
            </div>
          </slide>
        </carousel>
      </div>

      <hr class="show__mob--bl">

      <div class="button__wrap show__mob--bl tc">
        <span class="button__wrap--text inline__block mr10" v-lang.buttonWrapLabel>See our:</span>
        <a class="link__bordered mr10" :href="rootItems.wp_button_link" onclick="gtag_report_conversion(null, 'LfmACOq8gHsQtMCziAM', 1.0)" target="_blank" v-lang.whitepaperLabel>Whitepaper</a>
        <a class="link__bordered" :href="rootItems.demo_button_link" target="_blank" v-lang.mvpLabel>MVP</a>
      </div>

      <hr class="show__mob--bl">

      <h2 class="section__title fw__400 mb20" v-if="rootItems.media_list">{{ rootItems.media_title }}</h2>
      <div class="container container--850" v-if="rootItems.media_list">
        <div class="carousel__wrap clearfix">
          <carousel :perPage="2" :navigationEnabled="true" :paginationEnabled="true" :perPageCustom="[[768, 3], [1024, 4], [1200, 6]]" :autoplay="true" :autoplayTimeout="5000" :autoplayHoverPause="true" :paginationSize="8">
            <slide v-for="(media, index) in rootItems.media_list" :key="media.id">
              <a :href="media.link" target="_blank">
                <img :src="media.image" :alt="getFileName(media.image)">
              </a>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <modal :newHtml="html" v-if="html" v-on:onClose="html = null"></modal>
  </section>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import axios from 'axios'
  import ccModal from '@/components/ccModal'

  export default {
    components: {
      'modal': ccModal
    },
    created () {
      var that = this
      axios.get(`${configuration.pageDataBaseURL}${window.pageId}.json`).then(response => {
        if (response.status === 200) {
          that.rootItems = response.data.acf
        }
      }).catch(error => {
        console.log(error)
      })
    },
    data () {
      return {
        rootItems: [],
        html: null
      }
    },
    methods: {
      gatherContent (event) {
        this.html = event.target.nextElementSibling.innerHTML
      },
      getFileName: function (name) {
        const fileName = name.split('/')
        return fileName[fileName.length - 1]
      }
    }
  }
</script>
