<template>
  <div class="cc_modal js__open">
    <div class="cc_modal__backdrop" v-on:click="closeModal"></div>
    <div class="cc_modal__content">
      <div class="cc__modal__content--header">
        <button class="cc_modal__close" v-on:click="closeModal" type="button">
          <img src="/static/images/icon-close.svg" alt="Close">
        </button>
      </div>
      <div class="cc_modal__content--inner" v-html="html"></div>
    </div>
  </div>
</template>
<style></style>
<script>
  export default {
    props: [
      'newHtml'
    ],
    data () {
      return {
        html: null
      }
    },
    created () {
      this.html = this.newHtml

      const vm = this
      window.addEventListener('keyup', function (event) {
        if (event.keyCode === 27) {
          vm.closeModal()
        }
      })
    },
    methods: {
      closeModal () {
        this.$emit('onClose')
      }
    }
  }
</script>
