<template>
  <div class="dropdown__opener lang__select inline__block" v-on:click="openLang">
    <button class="button button--bordered" type="button" aria-haspopup="true" aria-expanded="false">
      {{getLang(language)}}
      <figure class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve">
          <path fill="#0575e6" d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5   c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path>
        </svg>
      </figure>
    </button>
    <div class="dropdown dropdown--right" v-bind:class="{ js__open: isOpen }">
      <div class="dropdown__inner">
        <ul class="vertical__list tc">
          <li class="article" v-if="language != 'en'">
            <a @click="changeLang('en')" class="fw__400">{{getLang('en')}}</a>
          </li>
          <li class="article" v-if="language != 'ru'">
            <a @click="changeLang('ru')" class="fw__400">{{getLang('ru')}}</a>
          </li>
          <li class="article" v-if="language != 'ch'">
            <a @click="changeLang('ch')" class="fw__400">{{getLang('ch')}}</a>
          </li>
          <li class="article" v-if="language != 'jp'">
            <a @click="changeLang('jp')" class="fw__400">{{getLang('jp')}}</a>
          </li>
          <li class="article" v-if="language != 'es'">
            <a @click="changeLang('es')" class="fw__400">{{getLang('es')}}</a>
          </li>
          <li class="article" v-if="language != 'pt'">
            <a @click="changeLang('pt')" class="fw__400">{{getLang('pt')}}</a>
          </li>
          <li class="article" v-if="language != 'vn'">
            <a @click="changeLang('vn')" class="fw__400">{{getLang('vn')}}</a>
          </li>
          <li class="article" v-if="language != 'kr'">
            <a @click="changeLang('kr')" class="fw__400">{{getLang('kr')}}</a>
          </li>
          <li class="article" v-if="language != 'hi'">
            <a @click="changeLang('hi')" class="fw__400">{{getLang('hi')}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style>
</style>

<script>
  export default {
    data () {
      return {
        isOpen: false
      }
    },
    methods: {
      getLang (val) {
        switch (val) {
          case 'en':
            return 'English'
          case 'ru':
            return 'русский'
          case 'ch':
            return '中文'
          case 'jp':
            return '日本語'
          case 'es':
            return 'Español'
          case 'pt':
            return 'Português'
          case 'vn':
            return 'Tiếng Việt'
          case 'kr':
            return '한국어'
          case 'hi':
            return 'हिंदी'
        }
      },
      changeLang (val) {
        function isLangRoute (route) {
          return route.name.indexOf('Lang_') !== -1
        }

        if (isLangRoute(this.$route)) {
          var link = this.$route.path
          link = link.replace(/(en|ru|hi|kr|ch|jp|es|pt|vn)/, val)
          window.location.href = link
          return
        }
        window.location.href = `/${val}${this.$route.path}`
      },
      openLang (val) {
        this.isOpen = !this.isOpen
      }
    }
  }
</script>
