<template>
  <div>
    <!-- <tokensale-modal></tokensale-modal> -->
    <!-- <join-presale-fixed></join-presale-fixed> -->
    <cookie-accept></cookie-accept>
    <modal :newHtml="html" v-if="html" v-on:onClose="html = null"></modal>
    <section class="section hero">
      <tokensale-section></tokensale-section>
      <div class="hero__top">
        <div class="container tc" v-if="rootItems.hero_desc">
          <div class="container container--550">
            <h1 class="hero__title mb10" v-html="rootItems.hero_title"></h1>
            <div class="article shmb mb30" v-html="rootItems.hero_desc"></div>
            <div class="article article--bigger hdmb mb30" v-html="rootItems.hero_desc"></div>
          </div>
          <a class="link__bordered link__bordered--wicon" v-on:click="getVideoIframe">
            <span class="link__bordered--icon button button--circle button--circle-small button--halo mr5">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16">
                <path fill="#FFF" fill-rule="evenodd" d="M12 8L0 16V0z"/>
              </svg>
            </span>
            <span class="link__bordered--text" v-lang.platformVideo>Play video</span>
          </a>
          <div class="hidden platform__video">
            <iframe width="560" height="315" :src="videoUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <desktop-section class="hdmb"></desktop-section>
    </section>

    <carousel-slides></carousel-slides>

    <section id="about-us" class="section section--scroll section--light-gray about">
      <div class="container">
        <div class="title__wrap">
          <h2 class="section__title">{{ rootItems.about_title }}</h2>
        </div>
        <div class="container container--710">
          <div class="article article__about" v-html="rootItems.about_desc"></div>
        </div>
        <!-- <div class="container container--750">
          <div class="video__wrap">
            <div id="video"></div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UZcfVPUW7ig" frameborder="0" allowfullscreen></iframe>
          </div>
        </div> -->
      </div>
    </section>

    <section id="roadmap" class="section section--scroll section--light-gray">
      <div class="container">
        <div class="title__wrap">
          <h2 class="section__title">{{ rootItems.roadmap_title }}</h2>
        </div>
        <div class="container container--830">
          <roadmap></roadmap>
        </div>
      </div>
    </section>

    <section id="about-blocks" class="section section--scroll about--blocks" v-if="rootItems.table_grid">
      <div class="container">
        <div class="container container--900">
          <div class="table__grid table table--fixed" :id="'scrollto_' + index" v-for="(item, index) in rootItems.table_grid">
            <div class="table__grid--item table__cell" v-if="index % 2 == 0">
              <h2 v-html="item.title"></h2>
              <div v-html="item.desc"></div>
            </div>
            <div class="table__grid--item table__grid--item-img table__cell" v-if="index % 2 == 0">
              <figure v-if="item.image">
                <img :src="item.image" :alt="getFileName(item.image)">
              </figure>
            </div>
            <div class="table__grid--item table__grid--item-img table__cell" v-if="index % 2 != 0">
              <figure v-if="item.image">
                <img :src="item.image" :alt="getFileName(item.image)">
              </figure>
            </div>
            <div class="table__grid--item table__cell" v-if="index % 2 != 0">
              <h2 v-html="item.title"></h2>
              <div v-html="item.desc"></div>
            </div>
          </div>

          <div class="technical__details" v-if="rootItems.technical_title">
            <h2 v-html="rootItems.technical_title"></h2>
            <div class="article" v-html="rootItems.technical_desc"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section id="whitepaper" class="section section--scroll section--light-gray whitepaper">
      <div class="container">
        <div class="card__list simple__grid simple__grid--half simple__grid--bordermid demo_n_whitepaper">
          <div class="card grid__item tc" v-if="rootItems.demo_title">
            <div class="table card__icon">
              <figure class="table__cell">
                <img src="/static/images/icon-checkmark.svg" alt="Try demo">
              </figure>
            </div>
            <h3 class="card__title">{{ rootItems.demo_title }}</h3>
            <div class="card__text article" v-html="rootItems.demo_desc"></div>
            <div class="button--wrap card__button" v-if="rootItems.demo_button_link">
              <a class="button" :href="rootItems.demo_button_link">{{ rootItems.demo_button_text }}</a>
            </div>
          </div>

          <div class="card grid__item tc" v-if="rootItems.wp_title">
            <div class="table card__icon">
              <figure class="table__cell">
                <img src="/static/images/icon-pdf.svg" alt="Whitepaper">
              </figure>
            </div>
            <h3 class="card__title">{{ rootItems.wp_title }}</h3>
            <div class="card__text article" v-html="rootItems.wp_desc"></div>
            <div class="button--wrap card__button">
              <a class="button button--ga" onclick="gtag_report_conversion(null, 'LfmACOq8gHsQtMCziAM', 1.0)" data-cat="Buttons" data-action="wp_download" :href="rootItems.wp_button_link" target="_blank" v-if="rootItems.wp_button_link">{{ rootItems.wp_button_text }}</a>
              <p class="wp__disclaimer" v-if="rootItems.wp_button_disclaimer">{{ rootItems.wp_button_disclaimer }}</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section id="token-sale" class="section section--scroll token__sale"> -->
      <!-- <div class="container">
        <div class="title__wrap">
          <h2 class="section__title mb10">{{ rootItems.token_sale_title }}</h2>
          <h3 class="section__subtitle" v-html="rootItems.token_sale_subtitle"></h3>
        </div>
        <ul class="tag__list">
          <li class="tag" v-for="tag in rootItems.token_sale_tags">
            <span class="tag__inner">{{ tag.name }}</span>
          </li>
        </ul>
        <div class="container container--815">
          <div class="numbers flex__grid">
            <div class="number__item grid__item" v-for="stat in rootItems.token_stats">
              <span class="number__number">{{ stat.number }}</span>
              <p class="number__text">{{ stat.desc }}</p>
            </div>
          </div>
        </div>
        <div class="button--wrap tc" v-if="rootItems.token_button_link">
          <a :href="rootItems.token_button_link" class="button">{{ rootItems.token_button_text }}</a>
        </div>
      </div> -->

      <!-- <hr> -->

      <!-- <div class="container container--750">
        <div class="title__wrap">
          <h2 class="section__title">{{ rootItems.ico_structure_title }}</h2>
        </div>
        <table class="structure__table table__th-left fixed">
          <tbody>
            <tr v-for="row in rootItems.ico_structure_table">
              <th v-html="row.th"></th>
              <td v-html="row.td"></td>
            </tr>
          </tbody>
        </table>
      </div> -->

      <!-- <hr> -->

      <!-- <div class="container">
        <div class="title__wrap">
          <h2 class="section__title mb10" v-html="rootItems.bonus_title"></h2>
          <h3 class="section__subtitle" v-if="rootItems.bonus_subtitle" v-html="rootItems.bonus_subtitle"></h3>
        </div>
        <div class="bonus__grid grid">
          <div class="bonus__grid--small">
            <h4 class="bonus__label tc">
              {{ rootItems.bonus_presale }}
              <span class="line"></span>
            </h4>
            <div class="bonus__wrap">
              <div class="bonus__el">
                <div class="bonus__bubble">
                  SVG circle resource: http://crisbeto.github.io/angular-svg-round-progressbar/
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                    <circle fill="none" cx="45" cy="45" r="40" style="stroke: #efefef; stroke-width: 10;"></circle>
                    <path fill="none" d="M 83.04226712383772 57.360659856115106 A 40 40 0 0 0 45 5" style="stroke-width: 10; stroke: #0575e6;"></path>
                  </svg>
                  <span>30%</span>
                </div>
                <div class="bonus__period">1-3 <span v-lang.day>day</span></div>
              </div>

              <div class="bonus__el">
                <div class="bonus__bubble">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                    <circle fill="none" cx="45" cy="45" r="40" style="stroke: #efefef; stroke-width: 10;"></circle>
                    <path fill="none" d="M 84.99999999999619 44.999982546707486 A 40 40 0 0 0 45 5" style="stroke-width: 10; stroke: #0575e6;"></path>
                  </svg>
                  <span>25%</span>
                </div>
                <div class="bonus__period">4-14 <span v-lang.day>day</span></div>
              </div>
            </div>
          </div>
          <div class="bonus__grid--large">
            <h4 class="bonus__label tc">
              {{ rootItems.bonus_mainsale }}
              <span class="line"></span>
            </h4>
            <div class="bonus__wrap">
              <div class="bonus__el">
                <div class="bonus__bubble">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                    <circle fill="none" cx="45" cy="45" r="40" style="stroke: #efefef; stroke-width: 10;"></circle>
                    <path fill="none" d="M 83.04225633711263 32.6393069457488 A 40 40 0 0 0 45 5" style="stroke-width: 10; stroke: #0575e6;"></path>
                  </svg>
                  <span>20%</span>
                </div>
                <div class="bonus__period">1 <span v-lang.week>week</span></div>
              </div>

              <div class="bonus__el">
                <div class="bonus__bubble">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                    <circle fill="none" cx="45" cy="45" r="40" style="stroke: #efefef; stroke-width: 10;"></circle>
                    <path fill="none" d="M 77.36067361972403 21.48858143629573 A 40 40 0 0 0 45 5" style="stroke-width: 10; stroke: #0575e6;"></path>
                  </svg>
                  <span>15%</span>
                </div>
                <div class="bonus__period">2 <span v-lang.week>week</span></div>
              </div>

              <div class="bonus__el">
                <div class="bonus__bubble">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                    <circle fill="none" cx="45" cy="45" r="40" style="stroke: #efefef; stroke-width: 10;"></circle>
                    <path fill="none" d="M 68.51140444369447 12.639316121487418 A 40 40 0 0 0 45 5" style="stroke-width: 10; stroke: #0575e6;"></path>
                  </svg>
                  <span>10%</span>
                </div>
                <div class="bonus__period">3 <span v-lang.week>week</span></div>
              </div>

              <div class="bonus__el">
                <div class="bonus__bubble">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                    <circle fill="none" cx="45" cy="45" r="40" style="stroke: #efefef; stroke-width: 10;"></circle>
                    <path fill="none" d="M 57.36067645518433 6.957738269521201 A 40 40 0 0 0 45 5" style="stroke-width: 10; stroke: #0575e6;"></path>
                  </svg>
                  <span>0%</span>
                </div>
                <div class="bonus__period">4 <span v-lang.week>week</span></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <hr> -->
    <!-- </section> -->

    <!-- <section id="faq" class="section section--scroll faq">
      <div class="container">
        <h2 class="section__title section__title--white">{{ rootItems.faq_title }}</h2>
        <div class="container container--950">
          <div class="accordion__wrap">
            <dl class="accordion">
              <div class="accordion__item" :data-hash="'accordion-panel-' + index" v-for="(item, index) in rootItems.faq_list">
                <dt>{{ item.question }}</dt>
                <dd>
                  <div class="article" v-html="item.answer"></div>
                </dd>
                <div class="accordion__item-status">
                  <span></span>
                  <span></span>
                </div>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </section> -->

    <section id="team" class="section section--scroll team">
      <div class="container">
        <div class="title__wrap">
          <h2 class="section__title" v-if="rootItems.team_title">{{ rootItems.team_title }}</h2>
          <div class="container container--510 section__desc article tc" v-html="rootItems.team_desc"></div>
        </div>
        <div class="card__list flex__grid person__list">
          <div class="card person__item grid__item" v-for="(member, index) in rootItems.team_members">
            <div class="grid__item-inner">
              <div class="card__img">
                <figure v-if="member.image">
                  <img :src="member.image" :alt="getFileName(member.image)">
                </figure>
                <figure v-else>
                  <img src="https://via.placeholder.com/275x275" alt="Placeholder image">
                </figure>
                <span class="button button--circle card__link" :data-modal="'person-' + index">
                  <img src="/static/images/icon-expand.svg" alt="Expand">
                </span>
              </div>
              <h4 class="card__title person__title">{{ member.name }}</h4>
              <div class="article">
                <p class="card__position">{{ member.position }}</p>
              </div>
              <h5 class="card__country">{{ member.country }}</h5>
              <ul class="social__links" v-if="member.social">
                <li class="social__link" v-for="item in member.social">
                  <a :href="item.link" target="_blank">
                    <img :src="'/static/images/social-icons/icon-' + item.icon.toLowerCase() + '-gray.svg'" :alt="item.icon">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <hr>

        <!-- <h3 class="section__title section__title--smaller" v-if="rootItems.advisors_title">{{ rootItems.advisors_title }}</h3>
        <div class="card__list advisor__list flex__grid mb30" v-if="false">
          <div class="card person__item person__item--smaller" v-for="(advisor, index) in rootItems.advisors_list">
            <div class="card__img">
              <figure v-if="advisor.image">
                <img :src="advisor.image" :alt="getFileName(advisor.image)">
              </figure>
              <figure v-else>
                <img src="https://via.placeholder.com/275x275" alt="Placeholder image">
              </figure>
              <span class="button button--circle button--circle-small card__link" :data-modal="'advisor-' + index">
                <img src="/static/images/icon-expand.svg" alt="Expand">
              </span>
            </div>
            <h4 class="card__title person__title">{{ advisor.name }}</h4>
            <p class="card__position">{{ advisor.position }}</p>
            <div v-if="advisor.company_link">
              <a class="card__company" :href="advisor.company_link" target="_blank">at {{ advisor.company }}</a>
            </div>
            <div v-else>
              <p class="card__company">at {{ advisor.company }}</p>
            </div>
            <h5 class="card__country">{{ advisor.country }}</h5>
            <ul class="social__links" v-if="advisor.social">
              <li class="social__link" v-for="item in advisor.social">
                <a :href="item.link" target="_blank">
                  <img :src="'/static/images/social-icons/icon-' + item.icon.toLowerCase() + '-gray.svg'" :alt="item.icon">
                </a>
              </li>
            </ul>
          </div>
          <add-talent></add-talent>
        </div> -->
        <!-- .card__list -->

        <div class="container container--850 tc" v-if="rootItems.partners_list">
          <ul class="partners__list">
            <li class="partner__item" v-for="partner in rootItems.partners_list">
              <div class="table table--fixed">
                <div class="table__cell">
                  <a :href="partner.link" target="_blank">
                    <img :src="partner.image" :alt="getFileName(partner.image)">
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="blog" class="section section--scroll media tc">
      <div class="container">
        <div class="blog__panel" v-if="rootItems.blog_desc">
          <h2>{{ rootItems.blog_title }}</h2>
          <div class="container container--510 mb20">
            <div class="section__desc article" v-html="rootItems.blog_desc"></div>
          </div>
          <a class="button" :href="rootItems.blog_button_link" target="_blank">{{ rootItems.blog_button_text }}</a>
        </div>
      </div>
    </section>

    <!-- Modals -->
    <div class="modal__backdrop"></div>
    <div class="modal__wrap" :data-modal="'person-' + index" v-for="(member, index) in rootItems.team_members">
      <div class="modal modal__full-width">
        <div class="modal__inner">
          <button class="close__modal button button--circle" type="button">
            <img src="/static/images/icon-close.svg" alt="Close">
          </button>
          <div class="modal__content-wrap custom__scrollbar">
            <div class="modal__content">
              <div class="grid">
                <div class="col__13">
                  <figure v-if="member.image">
                    <img :src="member.image" :alt="getFileName(member.image)">
                  </figure>
                  <figure v-else>
                    <img src="https://via.placeholder.com/260x300" alt="Placeholder image">
                  </figure>
                </div>

                <div class="col__23">
                  <div class="article mb20">
                    <h3 class="title__bold mar0">{{ member.name }}</h3>
                    <p>{{ member.position }}</p>
                    <div v-html="member.desc"></div>
                  </div>

                  <ul class="social__links" v-if="member.social">
                    <li class="social__link" v-for="item in member.social">
                      <a :href="item.link" target="_blank">
                        <img :src="'/static/images/social-icons/icon-' + item.icon.toLowerCase() + '-gray.svg'" :alt="item.icon">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="modal__wrap" :data-modal="'advisor-' + index" v-for="(advisor, index) in rootItems.advisors_list">
      <div class="modal modal__full-width">
        <div class="modal__inner">
          <button type="button" class="close__modal button button--circle">
            <img src="/static/images/icon-close.svg" alt="Close">
          </button>
          <div class="modal__content-wrap custom__scrollbar">
            <div class="modal__content">
              <div class="grid">
                <div class="col__13">
                  <figure v-if="advisor.image">
                    <img :src="advisor.image" :alt="getFileName(advisor.image)">
                  </figure>
                  <figure v-else>
                    <img src="http://via.placeholder.com/260x300" alt="Placeholder image">
                  </figure>
                </div>

                <div class="col__23">
                  <div class="article mb20">
                    <h3 class="title__bold mar0">{{ advisor.name }}</h3>
                    <p>{{ advisor.position }}</p>
                    <div v-html="advisor.desc"></div>
                  </div>

                  <ul class="social__links" v-if="advisor.social">
                    <li class="social__link" v-for="item in advisor.social">
                      <a :href="item.link" target="_blank">
                        <img :src="'/static/images/social-icons/icon-' + item.icon.toLowerCase() + '-gray.svg'" :alt="item.icon">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- MGID -->
    <img style="display:none;" src="//a.mgid.com/1x1.gif?id=287370&type=c&g=x&t=x&tg=&v=1&r=">
  </div>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import { getCurrentBonus, isLive } from '@/helpers'
  import axios from 'axios'
  import JoinPresale from '@/components/JoinPresale'
  import Countdown from '@/components/Countdown'
  import SocialLinks from '@/components/SocialLinks'
  import ProgressBar from '@/components/ProgressBar'
  import AddTalent from '@/components/AddTalent'
  import Roadmap from '@/components/Roadmap'
  import CookieAccept from '@/components/CookieAccept'
  import TokenSaleModal from '@/components/TokenSaleModal'
  import TokensaleSection from '@/components/TokensaleSection'
  // import JoinPresaleFixed from '@/components/JoinPresaleFixed'
  import CarouselSlides from '@/components/CarouselSlides'
  import ccModal from '@/components/ccModal'
  import DesktopSection from '@/components/DesktopSection'

  export default {
    components: {
      'join-presale': JoinPresale,
      'countdown': Countdown,
      'social-links': SocialLinks,
      'progress-bar': ProgressBar,
      'roadmap': Roadmap,
      'add-talent': AddTalent,
      'cookie-accept': CookieAccept,
      'tokensale-modal': TokenSaleModal,
      'tokensale-section': TokensaleSection,
      // 'join-presale-fixed': JoinPresaleFixed,
      'carousel-slides': CarouselSlides,
      'modal': ccModal,
      'desktop-section': DesktopSection
    },
    created () {
      var that = this
      axios.get(`${configuration.pageDataBaseURL}${this.pageId}.json`).then(response => {
        if (response.status === 200) {
          that.rootItems = response.data.acf
        }
      }).catch(error => {
        console.log(error)
      })
    },
    mounted () {
      this.$loaded = true
      if (this.$cookies.isKey('cookiesAllowed')) {
        this.cookiesAllowed = true
      }
    },
    data () {
      return {
        rootItems: [],
        cookiesAllowed: false,
        tokensaleBonus: getCurrentBonus()['percentage'],
        countDownDate: new Date(`${configuration.ICOStartDate}`),
        html: null
      }
    },
    computed: {
      videoUrl () {
        const id = this.translate('videoId')
        return 'https://www.youtube.com/embed/' + id
      },
      isLive,
      pageId () {
        return window.pageId
      }
    },
    head: {
      title: {
        inner: 'CrowdCoinage',
        separator: '|',
        complement: 'Crowdfunding platform for ICO campaigns. Decentralized, Secure, Free, Marketplace & e-Residency.'
      }
    },
    methods: {
      getFileName: function (name) {
        const fileName = name.split('/')
        return fileName[fileName.length - 1]
      },
      acceptCookies: function () {
        this.$cookies.set('cookiesAllowed', true, new Date(2100, 3, 1).toUTCString())
        this.cookiesAllowed = true
      },
      getVideoIframe () {
        this.html = document.querySelector('.platform__video').innerHTML
      }
    }
  }
</script>
