<template>
  <div>
    <common-root></common-root>
    <transition name="fade">
    <div id="modalAfterSubmit"  v-if="submitted">
      <div class="modal__backdrop" v-bind:class="{ js__open: isActive }" v-on:click.prevent="closeBackdrop"></div>
      <div class="modal__wrap" v-bind:class="{ js__open: isWrapActive }" data-modal="after-submit">
          <div class="modal modal__full-width">
              <div class="modal__inner modal__inner--morepad">
                  <button type="button" class="close__modal button button--circle" v-on:click.prevent="close">
                    <img src="/static/images/icon-close.svg" alt="Close">
                  </button>
                  <div class="modal__content-wrap">
                      <div class="modal__content tc">
                          <div v-if="success">
                            <figure class="modal__icon">
                                <img src="/static/images/icon-checkmark-green.svg" alt="Checkmark">
                            </figure>
                            <h2 class="section__title" v-lang.success>Success!</h2>
                            <div class="article mb20" v-lang.confirmed>
                                <p>You have successfully confirmed your e-mail address</p>
                            </div>
                          </div>
                          <div v-else>
                            <figure class="modal__icon">
                                <img src="/static/images/icon-alert-red.svg" alt="Alert">
                            </figure>
                            <h2 class="section__title" v-lang.unableConfirm>Unable to confirm!</h2>
                            <div class="article mb20">
                                <p v-lang.checkAgain>Please check the URL in e-mail address and try again</p>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </transition>
  </div>
</template>
<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
<script>
  import { configuration } from '@/configuration'
  import axios from 'axios'
  import CommonRoot from '@/components/CommonRoot'

  export default {
    components: {
      'common-root': CommonRoot
    },
    created () {
      var that = this
      axios.get(`${configuration.apiURL}/person/confirm/` + this.$router.currentRoute.params.token).then(response => {
        that.success = true
        that.submitted = true
        that.isWrapActive = true
        that.isActive = true
      }).catch(error => {
        that.success = false
        that.submitted = true
        that.isWrapActive = true
        that.isActive = true
        console.log(error)
      })
    },
    mounted () {},
    data () {
      return {
        submitted: false,
        isWrapActive: false,
        isActive: false,
        success: false
      }
    },
    methods: {
      closeBackdrop () {
        this.submitted = false
        this.isWrapActive = false
        this.isActive = false
        this.success = false
      },
      close () {
        this.submitted = false
        this.isWrapActive = false
        this.isActive = false
        this.success = false
      }
    }
  }
</script>
