<template>
  <div class="cookie__accept" v-if="!cookiesAllowed">
    <div class="cookie__accept--text">
      <p v-lang.usesCookies>This site uses cookies. By continuing to browse the site, you are agreeing to our use of cookies.</p>
    </div>
    <div class="button__wrap button__wrap--cookies">
      <button class="button button--small button--transparent button--accept-cookies" v-on:click="acceptCookies" v-lang.accept>Accept</button>
      <a href="/privacy-policy" class="button button--small button--transparent" v-lang.readMore>Read more</a>
    </div>
  </div>
</template>
<style></style>
<script>
  export default {
    mounted () {
      this.$loaded = true
      if (this.$cookies.isKey('cookiesAllowed')) {
        this.cookiesAllowed = true
      }
    },
    data () {
      return {
        cookiesAllowed: false
      }
    },
    methods: {
      acceptCookies: function () {
        this.$cookies.set('cookiesAllowed', true, new Date(2100, 3, 1).toUTCString())
        this.cookiesAllowed = true
      }
    }
  }
</script>
