<template>
  <ul class="countdown">
    <li class="countdown__block">
      <span ref="days" class="countdown__number">00</span>
      <span class="countdown__text ttu" v-lang.days>Days</span>
    </li>
    <li class="countdown__block">
      <span ref="hours" class="countdown__number">00</span>
      <span class="countdown__text ttu" v-lang.hours>Hours</span>
    </li>
    <li class="countdown__block">
      <span ref="minutes" class="countdown__number">0</span>
      <span class="countdown__text ttu" v-lang.minutes>Min</span>
    </li>
    <li class="countdown__block">
      <span ref="seconds" class="countdown__number">00</span>
      <span class="countdown__text ttu" v-lang.seconds>Sec</span>
    </li>
  </ul>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'

  export default {
    mounted () {
      var that = this
      var countDownDate = new Date(`${configuration.ICOStartDate}`).getTime()
      var x = setInterval(function () {
        var now = new Date().getTime()
        var distance = countDownDate - now
        var days = Math.floor(distance / (1000 * 60 * 60 * 24))
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
        var seconds = Math.floor((distance % (1000 * 60)) / 1000)

        if (that.$refs.days) {
          that.$refs.days.innerHTML = days
        }
        if (that.$refs.hours) {
          that.$refs.hours.innerHTML = hours
        }
        if (that.$refs.minutes) {
          that.$refs.minutes.innerHTML = minutes
        }
        if (that.$refs.seconds) {
          that.$refs.seconds.innerHTML = seconds
        }

        if (distance < 0) {
          clearInterval(x)
          this.hide = true
          document.getElementsByClassName('countdown').innerHTML = '<p>Times over</p>'
        }
      }, 1000)
    },
    data () {
      return {
        hide: false
      }
    }
  }
</script>
