<template>
  <div class="bg__gray">
    <cookie-accept></cookie-accept>
    <div class="page__content rel">
      <h1 class="title__huge color__green ttu tc mb10" v-lang.crowdsaleTitle>ICO is LIVE</h1>
      <!-- <h2 class="title__bold--smaller fw__700 tc mb70"><span v-lang.bonusDrops>Bonus drops in</span></h2> -->
      <h2 class="title__bold--smaller fw__700 tc mb10"><span v-lang.bonusDrops>Bonus drops in</span></h2>
      <CountdownCrowdsale class="countdown countdown--dark tc mb30" :date="getCurrentBonus()['dateTo']" />

      <!-- <div class="bubble__wrap pad0 stage__el mb90">
        <div class="bubble bubble--large">
          <div class="svg__progress--bar-wrap">
            <svg class="svg__progress--bar" width="340" height="340" viewBox="0 0 340 340">
              <circle cx="170" cy="170" r="156" fill="none" stroke="rgba(255, 255, 255, 0)" stroke-width="14" />
              <circle cx="170" cy="170" r="156" fill="none" stroke="#0575e6" stroke-width="14" :stroke-dasharray="countDashArray" :stroke-dashoffset="countDashOffset" class="svg__progress--value" />
            </svg>
          </div>
          <div class="legend__list">
            <div class="legend legend--top legend--vertical">
              <div class="table">
                <div class="table__cell table__cell--top ttc">
                  <span v-lang.startLabel>Start</span>
                </div>
              </div>
            </div>
            <div class="legend legend--right legend--horizontal tr">
              <div class="table">
                <div class="table__cell ttc">
                  42 <span v-lang.hours>Hours</span>
                </div>
              </div>
            </div>
            <div class="legend legend--bottom legend--vertical">
              <div class="table">
                <div class="table__cell table__cell--bottom ttc">
                  84 <span v-lang.hours>Hours</span>
                </div>
              </div>
            </div>
            <div class="legend legend--left legend--horizontal tl">
              <div class="table">
                <div class="table__cell ttc">
                  126 <span v-lang.hours>Hours</span>
                </div>
              </div>
            </div>
          </div>
          <div class="bubble__text">
            <small v-lang.bonusUpTo>Current bonus</small>
            {{ bonus }}%
          </div>
        </div>
      </div> -->

      <!-- //  IF ICO is live  // -->
        <div class="bubble__wrap mb30">
          <div class="bubble bubble--large">
            <div class="svg__progress--bar-wrap">
              <svg class="svg__progress--bar" width="340" height="340" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="156" fill="none" stroke="rgba(255, 255, 255, 0)" stroke-width="14" />
                <circle cx="170" cy="170" r="156" fill="none" stroke="#0575e6" stroke-width="14" :stroke-dasharray="2 * Math.PI * 156" :stroke-dashoffset="bonusEndOffset" class="svg__progress--value" />
              </svg>
            </div>
            <!-- <div class="legend__list">
              <div class="legend legend--top legend--vertical w__70 h__70 pb25">
                <div class="table">
                  <div class="table__cell table__cell--bottom ttc">
                    <span>{{ getCurrentBonus()['percentage'] }}% <span v-lang.bonusEnds>Bonus ends</span></span>
                  </div>
                </div>
              </div>
              <div class="legend legend--right legend--horizontal tl pl30">
                <div class="table">
                  <div class="table__cell ttc">
                    126 <span v-lang.hours>Hours</span>
                  </div>
                </div>
              </div>
              <div class="legend legend--bottom legend--vertical pt25">
                <div class="table">
                  <div class="table__cell table__cell--top ttc">
                    84 <span v-lang.hours>Hours</span>
                  </div>
                </div>
              </div>
              <div class="legend legend--left legend--horizontal tr pr30">
                <div class="table">
                  <div class="table__cell ttc">
                    42 <span v-lang.hours>Hours</span>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="bubble__text">
              <div class="article article--white">
                <p v-lang.getBonusDefault>Get bonus</p>
              </div>
              <p>{{ getCurrentBonus()['percentage'] }}%</p>
            </div>
          </div>
        </div>
      <!-- //  IF ICO is live  // -->

      <div class="progress__bar--hor-wrap">
        <h3 class="title__large fw__700 tc mb10">{{ formatedTokensSold }} CCOS</h3>
        <div class="progress__steps">
          <div class="progress__step-first"><span>0</span></div>
          <div class="progress__step"><span>{{ q1 }}</span></div>
          <div class="progress__step"><span>{{ q2 }}</span></div>
          <div class="progress__step"><span>{{ q3 }}</span></div>
          <div class="progress__step-last"><span><span v-lang.goal>Goal</span><br>{{ q4 }}</span></div>
        </div>

        <div class="progress__bar--hor progress__bar--hor-darker mb0">
          <span class="progress__bar--hor-percent" v-bind:style="{ 'width': tokensSoldPercentage + '%' }"></span>
        </div>
      </div>

      <div class="block block--no-shadow">
        <div class="block__content block__content--more-pad pt60 tc">
          <h2 class="title__bold--smaller fw__700 tc mb5" v-lang.ethContract>CrowdCoinage's Official Ethereum Contract</h2>
          <div class="article article--medium tc mb20">
            <p v-lang.delivery>CrowdCoinage (CCOS) delivered instantly</p>
          </div>
          <div class="input--wrap input--wrap-btn-on input--wrap-full input__label-inside mb20">
            <input type="text" id="ether__address" class="input input--bordered input--high input--has-val bold pr105" :value="address" readonly>
            <label for="ether__address" v-lang.sendEther>Send ether to this address</label>
            <button @click="setCopied" data-cat="Buttons" data-action="copy_ether_wallet_address" v-clipboard="address" type="button" class="button button--ga" v-lang.copy >Copy</button>
          </div>
          <div class="article article--small mb10">
            <p v-lang.useQr>or use this QR-code to send ether</p>
          </div>
          <div class="tc">
            <div class="qr__wrap mb20">
              <qrCode :value="address" :options="{ size: 200 }"></qrCode>
              <!-- <figure>
                <img src="/static/images/temp-qr-code.png" alt="">
              </figure> -->
            </div>
          </div>
          <div class="article article--small article--ls-normal">
            <p v-lang.investAddressText>This address is used to send ether to and you'll get CCOS back immediately.<br><span class="color__red">IMPORTANT: Don't send Ethereum from exchanges or Coinbase - only send from token compatible wallets.</span></p>
          </div>
          <hr class="mt30">
          <div class="tc fs0">
            <div class="inline__block pl5 pr5 mb10">
              <div class="article article--medium article--dark mb5">
                <p class="fw__700" v-lang.recGwei>Recommended GWEI</p>
              </div>
              <div class="container container--160">
                <input type="text" name="rec__gwei" class="input input--bordered input--big-text input--dark-txt fw__700 tc mb0" value="60" readonly>
              </div>
            </div>
            <div class="inline__block pl5 pr5 mb10">
              <div class="article article--medium article--dark mb5">
                <p class="fw__700" v-lang.recGas>Recommended GAS</p>
              </div>
              <div class="container container--160">
                <input type="text" name="rec__gas" class="input input--bordered input--big-text input--dark-txt fw__700 tc mb0" value="300,000" readonly>
              </div>
            </div>
          </div>
        </div>
      </div><!-- .block -->

      <div class="block block--no-shadow">
        <div class="block__content block__content--more-pad tc">
          <h2 class="title__bold--smaller fw__700 tc mb30" v-lang.tokenInfo>Token Information (don't send ether to this address)</h2>
          <div class="input--wrap-full input--wrap-disabled input__label-inside mb10">
            <input v-model="tokensAddress" type="text" id="ether__address-false" class="input input--bordered input--high input--has-val bold" value="0x9a005c9a89bd72a4bd27721e7a09a3c11d2b03c4" readonly>
            <label for="ether__address-false" v-lang.doNotSend>Do not send ether to this address</label>
          </div>
          <div class="article article--small mb10">
            <p v-lang.tokenAddressText>This address is only used to make CrowdCoinage appear on your list of tokens.</p>
          </div>
          <hr class="mt30">
          <div class="tc fs0">
            <div class="inline__block pl5 pr5 mb10">
              <div class="article article--medium article--dark mb5">
                <p class="fw__700" v-lang.decimals>Decimals</p>
              </div>
              <div class="container container--160">
                <input type="text" name="decimals" class="input input--bordered input--big-text input--dark-txt fw__700 tc mb0" value="18" readonly>
              </div>
            </div>
            <div class="inline__block pl5 pr5 mb10">
              <div class="article article--medium article--dark mb5">
                <p class="fw__700" v-lang.symbol>Symbol</p>
              </div>
              <div class="container container--160">
                <input type="text" name="symbol" class="input input--bordered input--big-text input--dark-txt fw__700 tc mb0" value="CCOS" readonly>
              </div>
            </div>
          </div>
        </div>
      </div><!-- .block -->

      <div class="block block--no-shadow">
        <div class="block__content block__content--more-pad tc">
          <h2 class="title__bold--smaller fw__700 tc mb20" v-lang.largeContrBonus>Large Contributor Bonus</h2>
          <p>3 ETH - 10%<br> 5 ETH - 30%<br> 10 ETH - 50%<br> 30 ETH - 70%<br> 50 ETH - 80%<br> <span v-lang.extraBonusLabel>(bonus on top of any other bonus that may apply)</span></p>
        </div>
      </div><!-- .block -->

      <div class="block block--no-shadow">
        <div class="block__content block__content--more-pad tc">
          <h2 class="title__bold--smaller fw__700 tc mb20" v-lang.calcCCOS>Calculate how many CCOS you can get</h2>
          <div class="article article--small mb30">
            <p v-lang.timeWarning>The number of tokens is preliminary and based on the current bonus at the current moment. It may change by the time of your transaction reach our smart contract. So you are encouraged to make it as soon as possible.</p>
          </div>
          <div class="container container--420">
            <div class="input--wrap input--wrap-btn-on input--wrap-full mb20">
              <input @keyup="calc" type="number" id="ether__address" class="input input--bordered input--high input--dark-txt input--bg fw__700" v-model.number="investAmount" />
              <button @click="calc" type="button" class="button button--txt-before">
                <span class="button__txt" v-lang.ETH>ETH</span>
                <span v-lang.calculate>Calculate</span>
              </button>
            </div>
          </div>
          <div class="article article--bigger mb10">
            <p class="fw__700">1 ETH = 10,000 CCOS</p>
          </div>
          <div v-if="investAmount" class="article article--small">
            <p v-for="(b, i) in bonuses" :key="i">
              {{b.text}}<br><strong>+ {{b.percent}}% = {{b.amount}} CCOS</strong>
            </p>
          </div>
          <div v-if="investAmount" class="calculator__equal-wrap mb30 tc">
            <span class="equals">
              <figure class="center__abs">
                <img src="/static/images/icon-equals.svg" alt="">
              </figure>
            </span>
            <hr class="mt30">
          </div>
          <div v-if="investAmount" class="tc">
            <div class="inline__block pl5 pr5 mb5">
              <figure>
                <img src="/static/images/logo-ccos-blue.svg" alt="CCOS">
              </figure>
            </div>
            <div class="inline__block pl5 pr5 mb5">
              <div class="article article--large">
                <p class="fw__700 color__blue"><span class="calc__sum">{{ tokenAmount }}</span> CCOS</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- .block -->
    </div>

    <!-- Terms of Service popup -->
    <div class="cc_modal js__open" v-if="showPopup">
      <div class="cc_modal__backdrop"></div>
      <div class="cc_modal__content">
        <div class="cc__modal__content--header">
        </div>
        <div class="cc_modal__content--inner">
          <div class="mb20 tc">
            <ChangeLang />
          </div>
          <div class="article tc">
            <h4 v-lang.modalConfirmText>Please confirm that you accept and agree to our terms and conditions</h4>

            <ol class="inline__block tl">
              <li><a href="/terms-and-conditions" target="_blank"  v-lang.tos>Terms and conditions</a></li>
              <li><a href="/privacy-policy" target="_blank"  v-lang.privacy>Privacy policy</a></li>
              <li><a href="/kyc-policy" target="_blank" v-lang.kyc>KYC policy</a></li>
            </ol>

            <div>
              <div class="checkbox__wrap inline__block mb10">
                <input type="checkbox" id="a_tos" name="a_tos" v-validate="'required'" />
                <label for="a_tos"></label>
                <span class="inline__block label"> <span v-lang.iAgree>I agree with</span> <a href="/terms-and-conditions" target="_blank" class="link__underlined" v-lang.tos>Terms and conditions</a></span>
              </div>
              <div class="article article--small mb10">
                <p class="error__message" v-if="errors.has('a_tos')" v-lang.pleaseAccept>Please accept the terms and conditions.</p>
              </div>
            </div>

            <div>
              <div class="checkbox__wrap inline__block mb10">
                <input type="checkbox" id="not_us" name="not_us" v-validate="'required'" />
                <label for="not_us"></label>
                <span class="inline__block label" v-lang.confirmCitizan>I confirm that I'm not a US citizen</span>
              </div>
              <div class="article article--small mb20">
                <p class="error__message" v-if="errors.has('not_us')" v-lang.pleaseConfirm>Please confirm You are not a US citizen.</p>
              </div>
            </div>

            <button class="button" v-on:click="acceptTos" v-lang.submit>Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- // Terms of Service popup -->

    <!-- MGID -->
    <img style="display:none;" src="//a.mgid.com/1x1.gif?id=287370&type=c&g=x&t=x&tg=&v=1&r=">
  </div>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import axios from 'axios'
  import moment from 'moment'
  import _ from 'lodash'
  import CookieAccept from '@/components/CookieAccept'
  import ChangeLang from '@/components/ChangeLang'
  import ccModal from '@/components/ccModal'
  import CountdownCrowdsale from '@/components/CountdownCrowdsale'
  import { formatNumbers, getCurrentBonus } from '@/helpers'
  import { EARLYBIRD_NONCE, TOTAL_TOKENS, CONTRACTS, REFERRALS,  POSSIBLE_ENDINGS } from '../constants'
  import { getTokensSold } from '../helpers'
  import VueQrcode from '@xkeshi/vue-qrcode';

  export default {
    components: {
      'qrCode': VueQrcode,
      'cookie-accept': CookieAccept,
      'modal': ccModal,
      ChangeLang,
      CountdownCrowdsale
    },
    created () {
      this.bazinga()
      this.showThatAnnoyingPopup()

      const nonce = this.$router.currentRoute.params.nonce

      if (this.isSpecial()) {
        this.address = CONTRACTS['special']['address']
      } else if (this.isReferral()) {
        this.address = REFERRALS[nonce]
      } else {
        this.address = CONTRACTS['crowdsale']['address']
      }

      this.tokensAddress = CONTRACTS['token']['address']

      this.interval = setInterval(this.bazinga, 10000)
      const that = this
      axios.get(`${configuration.pageDataBaseURL}${window.pageId}.json`).then(response => {
        if (response.status === 200) {
          that.rootItems = response.data.acf
        }
      }).catch(error => {
        console.log(error)
      })

      this.shuffleBonuses()
      this.calc()
    },
    async mounted () {
      const that = this
      that.tokensSold = await getTokensSold()
      this.tokensInterval = setInterval(async () => {
        that.tokensSold = await getTokensSold()
      }, 3000)
    },
    methods: {
      setCopied (e) {
        e.target.classList.add('button--green')
        e.target.innerHTML = '<img src="/static/images/icon-check.svg" alt="Copied">'
      },
      isSpecial () {
        const nonce = this.$router.currentRoute.params.nonce
        return nonce && nonce === EARLYBIRD_NONCE
      },
      isReferral () {
        const nonce = this.$router.currentRoute.params.nonce
        const exists = nonce && REFERRALS[nonce] != undefined
        return (!this.isSpecial() && exists)
      },
      getCurrentBonus () {
        const bonus = _.clone(getCurrentBonus())
        if (bonus.isFirst && this.isSpecial()) {
          bonus.percentage = 40
          return bonus
        } else if (this.isReferral()) {
          bonus.percentage += 5
          return bonus
        }
        return bonus
      },
      calc () {
        var that = this

        function getTokenAmount (eth) {
          const rate = 10000
          return eth * rate
        }

        function addBonus (text, base, percent) {
          let amount = getTokenAmount((percent / 100) * base)
          that.bonuses.push({
            text: text,
            percent: percent,
            amount: formatNumbers(amount, 0)
          })
          return amount
        }

        const base = this.investAmount

        // reset amount and bonuses
        this.tokenAmount = 0 + getTokenAmount(base)
        this.baseTokenAmount = formatNumbers(0 + this.tokenAmount, 0)
        this.bonuses = []

        // special bonus
        if (this.isSpecial()) {
          this.tokenAmount += addBonus(this.translate('subscriberBonusLabel'), base, 40)

        // regular bonuses
        } else {
          this.tokenAmount += addBonus(this.translate('bonusLabel'), base, this.getCurrentBonus()['percentage'])

          // referral bonuses
          if (this.isReferral()) {
            this.tokenAmount += addBonus('Referral bonus', base, 5)
          }
        }

        // high contributors
        if (base >= 50) {
          let a = 80
          this.tokenAmount += addBonus(this.translate('largeContrBonus'), base, a)
        } else if (base >= 30) {
          let a = 70
          this.tokenAmount += addBonus(this.translate('largeContrBonus'), base, a)
        } else if (base >= 10) {
          let a = 50
          this.tokenAmount += addBonus(this.translate('largeContrBonus'), base, a)
        } else if (base >= 5) {
          let a = 30
          this.tokenAmount += addBonus(this.translate('largeContrBonus'), base, a)
        } else if (base >= 3) {
          let a = 10
          this.tokenAmount += addBonus(this.translate('largeContrBonus'), base, a)
        }

        this.tokenAmount = formatNumbers(this.tokenAmount, 0)
      },
      async acceptTos () {
        const isValid = await this.$validator.validateAll()
        if (isValid) {
          axios({
            method: 'post',
            url: `${configuration.apiURL}/site/agree-to-toc`,
            data: JSON.stringify({}),
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            }
          })

          this.$cookies.set('acceptTos', true, new Date(2100, 3, 1).toUTCString())
          this.showPopup = false // close popup
        }
      },
      showThatAnnoyingPopup () {
        if (!this.$cookies.isKey('acceptTos')) {
          this.showPopup = true
        }
      },
      bazinga () {
        var that = this
        axios.get(`${configuration.leaderBoardURL}`).then(response => {
          if (response.status === 200) {
            that.participants = response.data.participants
            that.$emit('updateHead')
          }
        }).catch(error => {
          console.log(error)
        })
      },
      gatherContent (event) {
        this.html = event.target.nextElementSibling.innerHTML
      },
      getVideoIframe () {
        this.html = document.querySelector('.platform__video').innerHTML
      },
      getBonusTable () {
        this.html = document.querySelector('.bonus__table').innerHTML
      },
      shuffleBonuses () {
        const that = this
        const bonuses = [20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
        that.bonus = bonuses[that.index]
        that.interval = setInterval(() => {
          that.index = that.index + 1 === bonuses.length ? 0 : that.index + 1
          that.bonus = bonuses[that.index]

          // disable interval on last object
          if (that.bonus === bonuses[bonuses.length - 1]) {
            clearInterval(that.interval)
          }
        }, 1500)
      }
    },
    beforeDestroy () {
      clearInterval(this.interval)
    },
    data () {
      const countDownDate = new Date(`${configuration.ICOStartDate}`)
      const duration = moment.duration(moment(countDownDate).diff(new Date()))
      const days = duration.asDays()
      const start = 14
      return {
        rootItems: [],
        html: null,
        countDownDate: countDownDate,
        days: days.toFixed(),
        index: 0,
        bonus: 20,
        showPopup: false,
        address: '',
        addressToken: '',
        tokensSold: 0,
        timeLeft: {
          amount: 0,
          text: 'hours'
        },

        // calc variables
        investAmount: null,
        tokenAmount: 0,
        baseTokenAmount: 0,
        bonuses: []
      }
    },
    head: {
      title () {
        return {
          inner: 'Crowdsale',
          separator: '|',
          complement: 'Crowdfunding platform for ICO campaigns'
        }
      }
    },
    computed: {
      bonusEndOffset () {
        const bonus = this.getCurrentBonus()

        const dateFrom = new Date(bonus.dateFrom)
        const dateTo = new Date(bonus.dateTo)

        const datesDuration = moment.duration(moment(dateTo).diff(dateFrom))
        const datesTotal = datesDuration.asHours()

        const duration = moment.duration(moment(dateTo).diff(new Date()))
        var hours = duration.asHours()

        if (hours <= 1) {
          this.timeLeft = {
            amount: (hours * 60).toFixed(2),
            text: 'minutes'
          }
        } else if (hours <= 24) {
          this.timeLeft = {
            amount: hours.toFixed(1),
            text: 'hours'
          }
        } else {
          this.timeLeft = {
            amount: (hours / 24).toFixed(),
            text: 'days'
          }
        }

        const total = 2 * Math.PI * 156
        const percent = 100 - ((100 * hours) / datesTotal)
        const current = (total * percent) / 100
        return total - current
      },
      tokensSoldPercentage () {
        return this.tokensSold * 100 / this.q4_number
      },
      formatedTokensSold () {
        return formatNumbers(this.tokensSold, 0)
      },
      countDashArray () {
        return 2 * Math.PI * 156
      },
      countDashOffset: () => {
        const countDownDate = new Date(`${configuration.ICOStartDate}`)
        const duration = moment.duration(moment(countDownDate).diff(new Date()))
        const days = duration.asDays()
        const total = 2 * Math.PI * 156
        const percent = 100 - ((100 * days) / 14)
        const current = (total * percent) / 100
        return total - current
      },

      // progress
      q4_number () {
        const investedAmount = this.tokensSold
        const possibleEndings = POSSIBLE_ENDINGS

        for (var x = 0; x <= possibleEndings.length-1; x++) {
          if (investedAmount < possibleEndings[x]) {
            return possibleEndings[x]
          }
        }

        // todo: invest is bigger
        return TOTAL_TOKENS
      },
      q4_type () {
        const nr = this.q4_number
        if (nr > 999999) {
          return {symbol: 'M', divider: 1000000}
        } else if (nr > 999) {
          return {symbol: 'K', divider: 1000}
        } else {
          return {symbol: '', divider: 1}
        }
      },

      q1 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider'] * 0.25).toFixed(2)) + type['symbol']
      },
      q2 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider'] * 0.5).toFixed(2)) + type['symbol']
      },
      q3 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider'] * 0.75).toFixed(2)) + type['symbol']
      },
      q4 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider']).toFixed(2)) + type['symbol']
      }
    }
  }
</script>
