<template>
  <div class="container">
    <div class="grid">
      <div class="col__47">
        <!-- //  IF ICO is live  // -->
          <!-- <h1 v-if="isLive" class="title__x-large color__green fw__700 ttu mb10" v-lang.crowdsaleTitle>ICO is live</h1> -->
        <!-- //  IF ICO is live  // -->

        <!-- ////  IF ICO is NOT live  //// -->
          <h1 v-if="!isLive" class="hero__title mb10" v-html="rootItems.hero_title"></h1>
        <!-- ////  IF ICO is NOT live  //// -->

        <!-- //  IF ICO is live  // -->
          <h2 v-if="isLive" class="title__bold title__bold--smaller ttu mb10" v-html="rootItems.hero_title"></h2>
        <!-- //  IF ICO is live  // -->

        <div class="article show__mob--bl mb30" v-html="rootItems.hero_desc"></div>

        <!-- ////  IF ICO is NOT live  //// -->
          <div v-if="!isLive" class="article article--bigger hdmb mb30" v-html="rootItems.hero_desc"></div>
        <!-- ////  IF ICO is NOT live  //// -->

        <!-- //  IF ICO is live  // -->
          <div v-if="isLive" class="article article--medium hdmb mb30" v-html="rootItems.hero_desc"></div>
        <!-- //  IF ICO is live  // -->

        <ul class="horizontal__list horizontal__list--special" v-if="rootItems.features_grid">
          <li v-for="(feature, index) in rootItems.features_grid" :key="feature.id">
            <div class="icon__wrap mb20">
              <img :src="`/static/images/icon-${feature.icon}.svg`" alt="Icon">
            </div>
            <h5 class="fw__700 mb5 ttu">{{ feature.title }}</h5>
            <div class="article mb10">
              <p>{{ feature.desc }}</p>
            </div>
            <span class="link__bordered link__bordered--xs read__more" v-on:click="gatherContent" v-lang.readMore>Read more</span>
            <div class="hidden">
              <div class="article" v-html="feature.modal_desc"></div>
            </div>
          </li>
          <li>
            <hr>
            <div class="button__wrap tc">
              <span class="button__wrap--text inline__block mr10" v-lang.buttonWrapLabel>See our:</span>
              <a class="link__bordered" :href="rootItems.demo_button_link" target="_blank" v-lang.mvpLabel>MVP</a>
            </div>
          </li>
        </ul>
        <div>
          <a class="link__bordered link__bordered--wicon mb30" v-on:click="getVideoIframe">
            <span class="link__bordered--icon button button--circle button--circle-small button--halo mr5">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16">
                <path fill="#FFF" fill-rule="evenodd" d="M12 8L0 16V0z"/>
              </svg>
            </span>
            <span class="link__bordered--text" v-lang.platformVideo>Play video</span>
          </a>
          <div class="hidden platform__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6i9QqXfoET0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <join-presale class="newsletter__signup--small"></join-presale>
      </div>
      <div class="col__37">
        <div class="stage">

          <!-- ////  IF ICO is NOT live  //// -->
            <div v-if="!isLive" class="bubble__wrap pad0 stage__el stage__el--pos1">
              <div class="bubble bubble--xlarge">
                <!-- <div class="svg__progress--bar-wrap">
                  <svg class="svg__progress--bar" width="340" height="340" viewBox="0 0 340 340">
                    <defs>
                      <linearGradient id="gradient-anim" x1="50%" y1="0%" x2="50%" y2="100%">
                        <stop offset="0%" stop-color="#7A5FFF">
                          <animate attributeName="stop-color" values="#7A5FFF; #01FF89; #7A5FFF" dur="4s" repeatCount="indefinite"></animate>
                        </stop>
                        <stop offset="100%" stop-color="#01FF89">
                          <animate attributeName="stop-color" values="#01FF89; #7A5FFF; #01FF89" dur="4s" repeatCount="indefinite"></animate>
                        </stop>
                      </linearGradient>
                    </defs>
                    <circle cx="170" cy="170" r="156" fill="none" stroke="rgba(255, 255, 255, 0)" stroke-width="14" />
                    <circle cx="170" cy="170" r="156" fill="none" stroke="url(#gradient-anim)" stroke-width="14" :stroke-dasharray="countDashArray" :stroke-dashoffset="countDashOffset" class="svg__progress--value" />
                  </svg>
                </div> -->
                <div class="legend__list">
                  <div class="legend legend--top legend--vertical pb25">
                    <div class="table">
                      <div class="table__cell table__cell--bottom ttc">
                        <span v-lang.startLabel>Start</span>
                      </div>
                    </div>
                  </div>
                  <div class="legend legend--right legend--horizontal tl pl30">
                    <div class="table">
                      <div class="table__cell ttc">
                        11 <span v-lang.days>Days</span>
                      </div>
                    </div>
                  </div>
                  <div class="legend legend--bottom legend--vertical pt25">
                    <div class="table">
                      <div class="table__cell table__cell--top ttc">
                        7 <span v-lang.days>Days</span>
                      </div>
                    </div>
                  </div>
                  <div class="legend legend--left legend--horizontal tr pr30">
                    <div class="table">
                      <div class="table__cell ttc">
                        3 <span v-lang.days>Days</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bubble__text">
                  <h3 class="fw__700 text--light">
                    <span class="mb5" v-lang.icoStarts>ICO starts</span>
                    <small class="mt5">{{ new Date(countDownDate) | moment('YYYY/MM/DD') }}</small>
                  </h3>
                  <countdown class="countdown--small mb0"></countdown>
                </div>
              </div>
            </div>
          <!-- ////  IF ICO is NOT live  //// -->

          <!-- //  IF ICO is live  // -->
            <div v-if="isLive" @click="goToCrowdsale" class="bubble__wrap pad0 stage__el stage__el--pos1 cursor__pointer">
              <div class="bubble bubble--xlarge">
                <!-- <div class="svg__progress--bar-wrap">
                  <svg class="svg__progress--bar" width="340" height="340" viewBox="0 0 340 340">
                    <defs>
                      <linearGradient id="gradient-anim" x1="50%" y1="0%" x2="50%" y2="100%">
                        <stop offset="0%" stop-color="#0575e6">
                          <animate attributeName="stop-color" values="#7A5FFF; #01FF89; #7A5FFF" dur="4s" repeatCount="indefinite"></animate>
                        </stop>
                        <stop offset="100%" stop-color="#01FF89">
                          <animate attributeName="stop-color" values="#01FF89; #7A5FFF; #01FF89" dur="4s" repeatCount="indefinite"></animate>
                        </stop>
                      </linearGradient>
                    </defs>
                    <circle cx="170" cy="170" r="156" fill="none" stroke="rgba(255, 255, 255, 0)" stroke-width="14" />
                    <circle cx="170" cy="170" r="156" fill="none" stroke="url(#gradient-anim)" stroke-width="14" :stroke-dasharray="countDashArray" :stroke-dashoffset="countDashOffsetLive" class="svg__progress--value" />
                  </svg>
                </div> -->
                <!-- <div class="legend__list">
                  <div class="legend legend--top legend--vertical pb25">
                    <div class="table">
                      <div class="table__cell table__cell--bottom ttc">
                        <span v-lang.goal>Goal</span> {{ q4 }}
                      </div>
                    </div>
                  </div>
                  <div class="legend legend--right legend--horizontal tl pl30">
                    <div class="table">
                      <div class="table__cell ttc">{{ q1 }}</div>
                    </div>
                  </div>
                  <div class="legend legend--bottom legend--vertical pt25">
                    <div class="table">
                      <div class="table__cell table__cell--top ttc">{{ q2 }}</div>
                    </div>
                  </div>
                  <div class="legend legend--left legend--horizontal tr pr30">
                    <div class="table">
                      <div class="table__cell ttc">{{ q3 }}</div>
                    </div>
                  </div>
                </div> -->
                <div class="bubble__text">
                  <figure class="mb20">
                    <img src="/static/images/logo-crowdcoinage-white-symbol.svg" alt="Logo">
                  </figure>
                  <div class="article article--bigger article--white mb0">
                    <p><strong v-lang.totalInvest>CCOS tokens distributed:</strong></p>
                  </div>
                  <h3 class="title__large fw__700 color__white">{{formatedTokensSold}}</h3>
                </div>
              </div>
            </div>
          <!-- //  IF ICO is live  // -->

          <!-- ////  IF ICO is NOT live  //// -->
            <!-- <div v-if="!isLive" class="bubble__wrap pad0 stage__el stage__el--pos2">
              <div class="bubble bubble--large">
                <div class="bubble__text">
                  <small v-lang.bonusUpTo>Bonuses up to</small>
                  {{ bonus }}%
                  <button class="bubble__link" v-on:click="getBonusTable" type="button" v-lang.seeHowLabel>See how</button>
                  <div class="hidden bonus__table">
                    <table class="structure__table table__th-left fixed">
                      <tbody>
                        <tr>
                          <th v-lang.bonusLabel>Bonus</th>
                          <td><span v-lang.firstWeekLabel>1st week</span> - 20%<br> <span v-lang.secondWeekLabel>2nd week</span> - 15%<br> <span v-lang.thirdWeekLabel>3rd week</span> - 10%<br> <span v-lang.fourthWeekLabel>4th week</span> - 0%</td>
                        </tr>
                        <tr>
                          <th v-lang.subscriberBonusLabel>Subscriber Bonus</th>
                          <td><span v-lang.firstWeekLabel>1st week</span> - 40%<br> <span v-lang.subscriberBonusText = "{startDate: getICOstartDate()}">(leave us your email before the ICO starts on {{ getICOstartDate() }} you receive a special link that gives a twice as much bonus from all investments made during a first week)</span></td>
                        </tr>
                        <tr>
                          <th v-lang.largeContrBonus>Large Contributor Bonus</th>
                          <td>3 ETH - 10%<br> 5 ETH - 30%<br> 10 ETH - 50%<br> 30 ETH - 70%<br> 50 ETH - 80%<br> <span v-lang.extraBonusLabel>(bonus on top of any other bonus that may apply)</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- ////  IF ICO is NOT live  //// -->

          <!-- //  IF ICO is live  // -->
            <!-- <div v-if="isLive" @click="goToCrowdsale" class="bubble__wrap pad0 stage__el stage__el--pos2 stage__el--pos2-alt cursor__pointer"> -->
              <!-- <a data-cat="Buttons" data-action="buy_tokens" href="/crowdsale" class="button button--circle-large button--green button--gradient button--ga pl10 pr10">
                <div class="table table--fixed">
                  <div class="table__cell"><span class="fs__20 fw__700" v-lang.buyTokens>Buy tokens</span></div>
                </div>
              </a> -->

              <!-- <div class="bubble bubble--large">
                <div class="svg__progress--bar-wrap">
                  <svg class="svg__progress--bar" width="340" height="340" viewBox="0 0 340 340">
                    <circle cx="170" cy="170" r="156" fill="none" stroke="rgba(255, 255, 255, 0)" stroke-width="14" />
                    <circle cx="170" cy="170" r="156" fill="none" stroke="#0575e6" stroke-width="14" :stroke-dasharray="2 * Math.PI * 156" :stroke-dashoffset="bonusEndOffset" class="svg__progress--value" />
                  </svg>
                </div>
                <div class="legend__list">
                  <div class="legend legend--top legend--vertical w__70 h__70 pb25">
                    <div class="table">
                      <div class="table__cell table__cell--bottom ttc">
                        <span>{{ getCurrentBonus()['percentage'] }}% <span v-lang.bonusEnds>Bonus ends</span></span>
                      </div>
                    </div>
                  </div>
                  <div class="legend legend--right legend--horizontal tl pl30">
                    <div class="table">
                      <div class="table__cell ttc">
                        126 <span v-lang.hours>Hours</span>
                      </div>
                    </div>
                  </div>
                  <div class="legend legend--bottom legend--vertical pt25">
                    <div class="table">
                      <div class="table__cell table__cell--top ttc">
                        84 <span v-lang.hours>Hours</span>
                      </div>
                    </div>
                  </div>
                  <div class="legend legend--left legend--horizontal tr pr30">
                    <div class="table">
                      <div class="table__cell ttc">
                        42 <span v-lang.hours>Hours</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bubble__text">
                  <div class="article article--white">
                    <p v-lang.getBonusDefault>Get bonus</p>
                  </div>
                  {{ getCurrentBonus()['percentage'] }}%
                </div>
              </div> -->
            <!-- </div> -->
          <!-- //  IF ICO is live  // -->

          <!-- <div class="stage__el pad0 stage__el--pos3">
            <a class="link__bordered link__bordered--wicon" v-on:click="getVideoIframe">
              <span class="link__bordered--icon button button--circle button--circle-small button--halo mr5">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16">
                  <path fill="#FFF" fill-rule="evenodd" d="M12 8L0 16V0z"/>
                </svg>
              </span>
              <span class="link__bordered--text" v-lang.platformVideo>Play video</span>
            </a>
            <div class="hidden platform__video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/6i9QqXfoET0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div> -->
        </div><!-- stage -->
      </div>
    </div>
    <modal :newHtml="html" v-if="html" v-on:onClose="html = null"></modal>
  </div>
</template>
<style></style>
<script>
  import Vue from 'vue'
  import { configuration } from '@/configuration'
  import axios from 'axios'
  import moment from 'moment'
  import JoinPresale from '@/components/JoinPresale'
  import ccModal from '@/components/ccModal'
  import Countdown from '@/components/Countdown'
  import { CONTRACTS, TOTAL_TOKENS, POSSIBLE_ENDINGS } from '@/constants'
  import { isLive, formatNumbers, getTokensSold, getCurrentBonus } from '@/helpers'

  export default {
    components: {
      'join-presale': JoinPresale,
      'modal': ccModal,
      'countdown': Countdown
    },
    created () {
      const that = this
      axios.get(`${configuration.pageDataBaseURL}${window.pageId}.json`).then(response => {
        if (response.status === 200) {
          that.rootItems = response.data.acf
        }
      }).catch(error => {
        console.log(error)
      })

      this.shuffleBonuses()
    },
    async mounted () {
      const that = this
      that.tokensSold = await getTokensSold()
      this.tokensInterval = setInterval(async () => {
        that.tokensSold = await getTokensSold()
      }, 3000)
    },
    beforeDestroy () {
      clearInterval(this.interval)
      clearInterval(this.tokensInterval)
    },
    computed: {
      percentage: () => {
        return 50
      },
      formatedTokensSold () {
        return formatNumbers(this.tokensSold, 0)
      },
      countDashArray () {
        return 2 * Math.PI * 156
      },
      bonusEndOffset () {
        const bonus = this.getCurrentBonus()

        const dateFrom = new Date(bonus.dateFrom)
        const dateTo = new Date(bonus.dateTo)

        const datesDuration = moment.duration(moment(dateTo).diff(dateFrom))
        const datesTotal = datesDuration.asHours()

        const duration = moment.duration(moment(dateTo).diff(new Date()))
        const hours = duration.asHours()
        const total = 2 * Math.PI * 156
        const percent = 100 - ((100 * hours) / datesTotal)
        const current = (total * percent) / 100
        return total - current
      },
      countDashOffsetLive () {
        const total = (2 * Math.PI * 156)
        const perc = this.tokensSold * 100 / this.q4_number
        return (total - (total * perc / 100))
      },
      countDashOffset: () => {
        const countDownDate = new Date(`${configuration.ICOStartDate}`)
        const duration = moment.duration(moment(countDownDate).diff(new Date()))
        const days = duration.asDays()
        const total = 2 * Math.PI * 156
        const percent = 100 - ((100 * days) / 14)
        const current = (total * percent) / 100
        return total - current
      },
      isLive: () => isLive(),

      // progress
      q4_number () {
        const investedAmount = this.tokensSold
        const possibleEndings = POSSIBLE_ENDINGS

        for (var x = 0; x <= possibleEndings.length-1; x++) {
          if (investedAmount < possibleEndings[x]) {
            return possibleEndings[x]
          }
        }

      // todo: invest is bigger
        return TOTAL_TOKENS
      },
      q4_type () {
        const nr = this.q4_number
        if (nr > 999999) {
          return {symbol: 'M', divider: 1000000}
        } else if (nr > 999) {
          return {symbol: 'K', divider: 1000}
        } else {
          return {symbol: '', divider: 1}
        }
      },

      q1 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider'] * 0.25).toFixed(2)) + type['symbol']
      },
      q2 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider'] * 0.5).toFixed(2)) + type['symbol']
      },
      q3 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider'] * 0.75).toFixed(2)) + type['symbol']
      },
      q4 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider']).toFixed(2)) + type['symbol']
      }
    },
    data () {
      const countDownDate = new Date(`${configuration.ICOStartDate}`)
      const duration = moment.duration(moment(countDownDate).diff(new Date()))
      const days = duration.asDays()
      const start = 14
      const progressWidth = parseInt((days * 100) / start)
      return {
        rootItems: [],
        html: null,
        countDownDate: countDownDate,
        progressWidth: progressWidth,
        days: days.toFixed(),
        index: 0,
        bonus: 20,
        livePercent: 0,
        tokensSold: 0
      }
    },
    methods: {
      getCurrentBonus,
      goToCrowdsale () {
        window.location.href = '/crowdsale'
      },
      gatherContent (event) {
        this.html = event.target.nextElementSibling.innerHTML
      },
      getVideoIframe () {
        this.html = document.querySelector('.platform__video').innerHTML
      },
      getBonusTable () {
        this.html = document.querySelector('.bonus__table').innerHTML
      },
      shuffleBonuses () {
        const that = this
        const bonuses = [20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
        that.bonus = bonuses[that.index]
        that.interval = setInterval(() => {
          that.index = that.index + 1 === bonuses.length ? 0 : that.index + 1
          that.bonus = bonuses[that.index]

          // disable interval on last object
          if (that.bonus === bonuses[bonuses.length - 1]) {
            clearInterval(this.interval)
          }
        }, 1500)
      },
      getICOstartDate () {
        return moment(this.countDownDate).format('YYYY/MM/DD')
      }
    }
  }
</script>
