<template>
  <div>
    <footer id="footer" class="section footer tc">
      <div class="container">
        <div class="mb60">
          <figure class="logo logo__footer">
            <a class="logo__link" href="#">
              <img src="/static/images/logo-crowdcoinage-white-text.svg" alt="CrowdCoinage">
            </a>
          </figure>
        </div>
        <join-presale></join-presale>
        <social-links></social-links>
        <div class="primary__nav-wrap hdmb">
          <menu4 classes="primary__nav primary__nav--footer"></menu4>
        </div>
        <div class="article article--menu">
          <a href="/terms-and-conditions" v-lang.tos>Terms and conditions</a>
          <a href="/privacy-policy" v-lang.privacy>Privacy policy</a>
          <a href="/kyc-policy" v-lang.kyc>KYC policy</a>
        </div>
      </div>
    </footer>
  </div>
</template>
<style></style>
<script>
  import JoinPresale from '@/components/JoinPresale'
  import Menu from '@/components/Menu'
  import SocialLinks from '@/components/SocialLinks'

  export default {
    components: {
      'join-presale': JoinPresale,
      'menu4': Menu,
      'social-links': SocialLinks
    },
    methods: {
      getFileName: function (name) {
        const fileName = name.split('/')
        return fileName[fileName.length - 1]
      }
    }
  }
</script>
