<template>
  <div id="header">
    <header class="header js__open" :class="extraClass">
      <div class="container clearfix">
        <div class="table">
          <div class="table__cell">
            <figure class="logo">
              <a href="/" class="logo__link">
                <img src="/static/images/logo-crowdcoinage.svg" alt="Logo">
              </a>
            </figure>
          </div>
          <div class="table__cell tr">
            <social-links-special class="hdmb"></social-links-special>
            <menu2 classes="primary__nav inline__block hdmb" :xVisible="xVisible2"></menu2>
            <!-- <changeLang /> -->
            <div class="hamburger js__show-menu shmb">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <header class="header header--with-bg">
      <div class="container clearfix">
        <div class="table">
          <div class="table__cell">
            <figure class="logo">
              <a href="/" class="logo__link">
                <img src="/static/images/logo-crowdcoinage.svg" alt="Logo">
              </a>
            </figure>
          </div>
          <div class="table__cell tr">
            <social-links-special class="hdmb"></social-links-special>
            <menu3 classes="primary__nav inline__block hdmb" :xVisible="xVisible3"></menu3>
            <!-- <changeLang /> -->
            <div class="hamburger js__show-menu shmb">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>
<style></style>
<script>
  import Menu from '@/components/Menu'
  // import ChangeLang from '@/components/ChangeLang'
  import SocialLinksSpecial from '@/components/SocialLinksSpecial'
  import { getCurrentBonus } from '@/helpers'

  export default {
    components: {
      'menu2': Menu,
      'menu3': Menu,
      // 'changeLang': ChangeLang,
      'social-links-special': SocialLinksSpecial
    },
    mounted () {
      // if (window.location.href.indexOf('privacy-policy') !== -1) {
      //   this.extraClass = 'header--blue-bg'
      // } else if (window.location.href.indexOf('terms-and-conditions') !== -1) {
      //   this.extraClass = 'header--blue-bg'
      // } else if (window.location.href.indexOf('kyc-policy') !== -1) {
      //   this.extraClass = 'header--blue-bg'
      // } else if (window.location.href.indexOf('leaderboard') !== -1) {
      //   this.extraClass = 'header--blue-bg'
      // }
    },
    data () {
      return {
        extraClass: '',
        classes: 'primary__nav hdmb',
        xVisible2: false,
        xVisible3: true,
        tokensaleBonus: getCurrentBonus()['percentage']
      }
    }
  }
</script>
