<template>
  <div>
    <form class="newsletter__signup newsletter__signup--fixed" v-bind:class="{ js__open: scrolled }">
      <div class="container">
        <div class="article article--small show__mob--bl mb5 tc text--wrap">
          <p v-lang.newsletterLabel>Be the first to hear about the latest developments and token sale progress</p>
        </div>
        <div class="article hdmb mb5 tc text--wrap">
          <p v-lang.newsletterLabel>Be the first to hear about the latest developments and token sale progress</p>
        </div>
        <div class="input--wrap">
          <input type="text" :placeholder="yourEmail" v-model="email">
          <button class="button" type="submit" v-bind:class="{ js__loading: isActive }" v-on:click.prevent="submitSignUp" v-lang.signupLabel>Sign up now</button>
        </div>
        <div class="newsletter__error" v-if="emailError !== ''">{{ emailError }}</div>
        <a href="#" data-modal="after-submit" hidden></a>
      </div>
    </form>

    <modal :newHtml="html" v-if="html" v-on:onClose="html = null"></modal>

    <div ref="modalHtml" class="hidden">
      <div class="article article--bigger tc">
        <img class="mb20" src="/static/images/icon-checkmark-green.svg" alt="Success">
        <p class="tc" v-lang.successfulSubmit>You have successfully signed up, check your email to confirm your participation.</p>
      </div>
    </div>
  </div>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import axios from 'axios'
  import ccModal from '@/components/ccModal'

  export default {
    components: {
      'modal': ccModal
    },
    created () {
      var that = this
      axios.get(`${configuration.pageDataBaseURL}${window.pageId}.json`).then(response => {
        if (response.status === 200) {
          that.preSaleItems = []
          that.preSaleItems['presale_button_text'] = response.data.acf.presale_button_text
          that.preSaleItems['presale_disclaimer'] = response.data.acf.presale_disclaimer
        }
      }).catch(error => {
        console.log(error)
      })
      window.addEventListener('scroll', this.scrollPosition)
    },
    destroyed () {
      window.removeEventListener('scroll', this.scrollPosition)
    },
    methods: {
      gatherContent () {
        this.$nextTick(() => {
          this.html = this.$refs['modalHtml'].innerHTML
        })
      },
      submitSignUp () {
        var that = this
        axios({
          method: 'post',
          url: `${configuration.apiURL}/person/add`,
          data: JSON.stringify({email: this.email}),
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          }
        }).then(response => {
          that.submitted = true
          // that.isActive = true
          that.isWrapActive = true
          that.emailError = ''
          that.email = ''
          that.token = response.data.token

          // show modal
          this.gatherContent()

          // Trigger google tag manager
          window.gtag_report_conversion(null, '7imWCOW_6noQtMCziAM', 2.0)
        }).catch((error) => {
          if (error.response) {
            var errorCode = error.response.status
            var errorData = error.response.data
            that.emailError = errorData.message
            console.log(errorCode + ' ' + errorData.message)
          }
        })
      },
      submitAmount () {
        var that = this
        axios({
          method: 'post',
          url: `${configuration.apiURL}/person/presale`,
          data: JSON.stringify({token: this.token, amount: this.amount}),
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          }
        }).then(response => {
          that.submitted = false
          that.isActive = false
          that.isWrapActive = false
          that.emailError = ''
          that.amountError = ''
        }).catch(error => {
          if (error.response) {
            var errorCode = error.response.status
            var errorData = error.response.data
            that.amountError = errorData.message
            console.log(errorCode + ' ' + errorData.message)
          }
        })
      },
      closeBackdrop () {
        this.submitted = false
        this.isWrapActive = false
        this.isActive = false
        this.emailError = ''
        this.amountError = ''
      },
      close () {
        this.submitted = false
        this.isWrapActive = false
        this.isActive = false
        this.emailError = ''
        this.amountError = ''
      },
      scrollPosition () {
        this.scrolled = window.scrollY >= 600
      }
    },
    data () {
      return {
        preSaleItems: [],
        submitted: false,
        isActive: false,
        isWrapActive: false,
        email: '',
        emailError: '',
        amountError: '',
        amount: '',
        token: '',
        scrolled: false,
        html: null
      }
    },
    computed: {
      pageId () {
        return window.pageId
      },
      yourEmail () {
        return this.translate('yourEmail')
      }
    }
  }
</script>
