<template>
  <div>
    <cookie-accept></cookie-accept>
    <div class="page__content">
      <div class="page__title">
        <h1 v-lang.leaderBoardTitle>Leaderboard</h1>
      </div>
      <article class="article">
        <div class="excerpt mb30">
          <p class="inline mb0" v-lang.leaderBoardText>Welcome guys! Here's the current leader board of CrowdCoinage's surprise referral contest. If you are not on the top ten yet, don't worry; you still have plenty of time to refer your friends and colleagues to the contest. If you haven't yet started participating in the contest, please find the details to get started, here:</p>
          <a class="inline fw__700" href="https://blog.crowdcoinage.com/crowdcoinage-epic-pre-sale-referral-contest-abe75d19cdaf" target="_blank" v-lang.leaderBoardRules>RULES</a>
        </div>
        <div class="leaderboard">
          <table>
            <thead>
              <tr>
                <th v-lang.positionTh>Position</th>
                <th v-lang.identifierTh>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="participant in participants">
                <td>#{{ participant.position }}</td>
                <td>{{ participant.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </div>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import axios from 'axios'
  import CookieAccept from '@/components/CookieAccept'

  export default {
    components: {
      'cookie-accept': CookieAccept
    },
    created () {
      this.bazinga()
      this.interval = setInterval(this.bazinga, 10000)
    },
    methods: {
      bazinga () {
        var that = this
        axios.get(`${configuration.leaderBoardURL}`).then(response => {
          if (response.status === 200) {
            that.participants = response.data.participants
            that.$emit('updateHead')
          }
        }).catch(error => {
          console.log(error)
        })
      }
    },
    beforeDestroy () {
      clearInterval(this.interval)
    },
    data () {
      return {
        participants: ''
      }
    },
    head: {
      title () {
        return {
          inner: 'Leaderboard',
          separator: '|',
          complement: 'Financial Ecosystem Powered by e-Residency'
        }
      }
    }
  }
</script>
