<template>
  <div id="mainMenu">
    <div class="mobile__overlay shmb">
        <div class="mobile__overlay-inner">
          <social-links-special></social-links-special>
          <menu1 classes="primary__nav overlay__nav"></menu1>
        </div>
    </div>
  </div>
</template>
<style></style>
<script>
  import Menu from '@/components/Menu'
  import SocialLinksSpecial from '@/components/SocialLinksSpecial'

  export default {
    components: {
      'menu1': Menu,
      'social-links-special': SocialLinksSpecial
    },
    data () {
      return {
        classes: 'primary__nav overlay__nav'
      }
    }
  }
</script>
