<template>
  <ul :class="allClasses">
    <li v-for="menuItem in menuItems">
      <a :href="menuItem.url">{{ menuItem.title }}</a>
    </li>
    <li class="shmb">
      <span class="js__hide-menu"><img src="/static/images/icon-close.svg" alt="Close overlay"></span>
    </li>
  </ul>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import axios from 'axios'

  export default {
    props: {
      classes: {
        type: String,
        default: ''
      },
      xVisible: {
        type: Boolean,
        default: false
      }
    },
    created () {
      var that = this
      axios.get(`${configuration.menuDataBaseURL}${this.menuId}.json`).then(response => {
        if (response.status === 200) {
          that.menuItems = []
          if (response.data.items.length > 0) {
            response.data.items.forEach(function (item) {
              that.menuItems[that.menuItems.length] = {
                url: item.url,
                title: item.title
              }
            })
          }
        }
      }).catch(error => {
        console.log(error)
      })
    },
    computed: {
      allClasses () {
        return this.classes
      },
      menuId () {
        return window.menuId
      }
    },
    data () {
      return {
        menuItems: []
      }
    }
  }
</script>
