<template>
  <div>
    <!-- <join-presale-fixed></join-presale-fixed> -->
    <cookie-accept></cookie-accept>
    <div class="page__content">
      <div class="page__title">
        <h1>{{ pageTitle }}</h1>
      </div>
      <article class="article" v-html="pageContent"></article>
    </div>
  </div>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import { isLive } from '@/helpers'
  import axios from 'axios'
  import CookieAccept from '@/components/CookieAccept'
  // import JoinPresaleFixed from '@/components/JoinPresaleFixed'

  export default {
    components: {
      'cookie-accept': CookieAccept,
      // 'join-presale-fixed': JoinPresaleFixed
    },
    created () {
      var that = this
      axios.get(`${configuration.pageDataBaseURL}${this.pageId}.json`).then(response => {
        if (response.status === 200) {
          that.pageContent = response.data.acf.content
          that.pageTitle = response.data.acf.title
          that.$emit('updateHead')
        }
      }).catch(error => {
        console.log(error)
      })
    },
    data () {
      return {
        pageTitle: '',
        pageContent: ''
      }
    },
    computed: {
      isLive,
      pageId () {
        return window.pageId
      }
    },
    head: {
      title () {
        return {
          inner: this.pageTitle,
          separator: '|',
          complement: 'Crowdfunding platform for ICO campaigns. Decentralized, Secure, Free, Marketplace & e-Residency.'
        }
      }
    }
  }
</script>
