<template>
  <div>
    <div class="progress__bar-wrap progress__bar-wrap--white">
      <h3 class="title__light title__light--white mb5" v-lang.totalInvest>CCOS tokens sold:</h3>
      <div class="inline__block-wrap mb10">
        <div class="inline__block pr25">
          <figure>
            <img src="/static/images/logo-crowdcoinage-white-symbol.svg" alt="CrowdCoinage">
          </figure>
        </div>
        <div class="inline__block article article--white">
          <!-- <span class="summary">{{ investItems.totalETH.toFixed(3) * 10000 }} <span>CCOS</span></span> -->
          <span class="summary">{{ formatNumbers(investItems.totalCCOS, 0) }} <span>CCOS</span></span>
        </div>
      </div>
      <div class="article article--white article--light mb30">
        <!-- <span class="summary summary--small">{{ investItems.totalEUR.toFixed(3) }} <span>EUR</span></span> -->
        <span class="summary summary--small">1 ETH = {{ formatNumbers(10000, 0) }} CCOS</span>
      </div>

      <!-- <div class="progress__bar-top clearfix">
        <h2 class="progress__bar-title fl" v-lang.ongoingICO>Ongoing ICO</h2>

        <div class="progress__bar-info fr">
          <small v-lang.raised>Raised</small>
          <div class="currencies">
            <div class="currency currency__left">8,762 <small>ETH</small></div>
            <div class="currency currency__right">120,000 $</div>
          </div>
          <small v-lang.investors>Investors <strong>210</strong></small>
        </div>
      </div> -->
      <!-- investItems.totalETH -->
      <div class="progress__bar progress__bar--lower">
        <div class="progress" v-bind:style="{ 'width': ((formatNumbers(investItems.totalCCOS / 3900000) * 100)) + '%' }"></div>
        <span class="progress__text first">0</span>
        <div class="progress__bar-inner">
          <div class="progress__bar-item" style="width: 50%;">
            <span class="progress__text hdmb">1,950,000</span>
            <span class="progress__text shmb">1,95M</span>
          </div>
          <div class="progress__bar-item" style="width: 50%;">
            <span class="progress__text hdmb">3,900,000</span>
            <span class="progress__text shmb">3,9M</span>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="list__icon-top list__icon-top--bigger mb20">
      <div class="list__item">
        <figure class="list__icon">
          <img src="/static/images/social-icons/bigger/icon-bitcoin-white.svg" alt="Bitcoin icon">
        </figure>
        <p class="list__text">
          BTC
        </p>
      </div>
      <div class="list__item">
        <figure class="list__icon">
          <img src="/static/images/social-icons/bigger/icon-ether-white.svg" alt="Ethereum icon">
        </figure>
        <p class="list__text">
          ETH
        </p>
      </div>
      <div class="list__item">
        <figure class="list__icon">
          <img src="/static/images/social-icons/bigger/icon-litecoin-white.svg" alt="Litecoin icon">
        </figure>
        <p class="list__text">
          LTC
        </p>
      </div>
      <div class="list__item">
        <figure class="list__icon">
          <img src="/static/images/social-icons/bigger/icon-ripple-white.svg" alt="Ripple icon">
        </figure>
        <p class="list__text">
          XRP
        </p>
      </div>
      <div class="list__item">
        <figure class="list__icon">
          <img src="/static/images/social-icons/bigger/icon-bitcoin-cash-white.svg" alt="Bitcoin cash icon">
        </figure>
        <p class="list__text">
          BCH
        </p>
      </div>
      <div class="list__item">
        <figure class="list__icon">
          <img src="/static/images/social-icons/bigger/icon-euro-white.svg" alt="EUR icon">
        </figure>
        <p class="list__text">
          EUR
        </p>
      </div>
    </div> -->
  </div>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import { formatNumbers } from '@/helpers'
  import axios from 'axios'

  export default {
    created () {
      this.getValues()
      this.interval = setInterval(this.getValues, 8000)
    },
    methods: {
      getValues () {
        var that = this
        axios.get(`${configuration.investmentURL}`).then(response => {
          if (response.status === 200) {
            that.investItems = response.data
          }
        }).catch(error => {
          console.log(error)
        })
      },
      formatNumbers
    },
    beforeDestroy () {
      clearInterval(this.interval)
    },
    data () {
      return {
        investItems: {
          btc: 0,
          eth: 0,
          bch: 0,
          xrp: 0,
          ltc: 0,
          eur: 0,
          totalEUR: 0,
          totalETH: 0
        }
      }
    }
  }
</script>
