<template>
  <div class="bg__gray">
    <div class="page__content rel">
      <h1 class="ttu tc mb20">Airdrop signup</h1>

      <div class="block block--no-shadow">
        <div class="block__content block__content--more-pad pt60 tc">
          <h2 class="title__bold--smaller fw__700 tc mb30">Welcome to the CrowdCoinage Surprise Airdrop Campaign</h2>
          <p>As a token of gratitude, we're reserving <strong>5 million</strong> CCOS tokens to distribute among CCOS token holders who share our ICO with their friends.</p>
        </div>
      </div>

      <div class="block block--no-shadow">
        <div class="block__content block__content--more-pad pt60 tc">
          <h3>You can participate in this exclusive airdrop until March 12, 2018 by signing up below</h3>
          <div class="mb20 tc">
            <span class="link__underlined link__underlined--blue" v-scroll-to="'#faq'">Read the FAQ</span>
          </div>

          <form>
            <div class="input--wrap">
              <input class="input input--bordered" type="text" name="name" placeholder="Name" v-model="form.name" v-validate="'required'">
              <span v-show="errors.has('name')" class="input--message">{{ errors.first('name') }}</span>
            </div>

            <div class="input--wrap">
              <v-popover offset="16" placement="bottom">
                <button class="tooltip-target button--question-mark" type="button">?</button>
                <template slot="popover">
                  <p>Use the same email address that you've used to register at CC</p>
                </template>
              </v-popover>
              <input class="input input--bordered" type="text" name="email" placeholder="E-mail" v-model="form.email" v-validate="'required|email'">
              <span v-show="errors.has('email')" class="input--message">{{ errors.first('email') }}</span>
            </div>

            <div class="input--wrap">
              <v-popover offset="16" placement="bottom">
                <button class="tooltip-target button--question-mark" type="button">?</button>
                <template slot="popover">
                  <p>The ETH address you've used to purchase your CCOS tokens</p>
                </template>
              </v-popover>
              <input class="input input--bordered" type="text" name="wallet" placeholder="Wallet address" v-model="form.wallet" v-validate="'required'">
              <span v-show="errors.has('wallet')" class="input--message">{{ errors.first('wallet') }}</span>
            </div>

            <div class="input--wrap">
              <v-popover offset="16" placement="bottom">
                <button class="tooltip-target button--question-mark" type="button">?</button>
                <template slot="popover">
                  <p>Amount of tokens purchased during our ICO</p>
                </template>
              </v-popover>
              <input class="input input--bordered" type="number" name="amount" placeholder="Tokens purchased" v-model="form.amount" v-validate="'required|numeric|not_null'">
              <span v-show="errors.has('amount')" class="input--message">{{ errors.first('amount') }}</span>
            </div>

            <span v-show="message" v-bind:class="{'input--message--green': message == 'You have successfully submitted your application. We will contact you within 48 hours.'}" class="input--message">{{ message }}</span>
            <button class="button" type="submit" v-on:click.prevent="postForm">Submit</button>
          </form>
        </div>
      </div>

      <div id="faq" class="block block--no-shadow">
        <div class="block__content block__content--more-pad pt60 tc">
            <h3>FAQs</h3>
            <ol>
              <li class="mb20">
                <h5 class="mb0">Who can participate?</h5>
                <p>Anybody who purchased CCOS tokens during our pre-sale or ICO</p>
              </li>
              <li class="mb20">
                <h5 class="mb0">Do I need to purchase a minimum amount of tokens to participate?</h5>
                <p>Yes, the minimum purchase amount is 0,1 ETH.</p>
              </li>
              <li class="mb20">
                <h5 class="mb0">How the <strong>5 million</strong> tokens are distributed?</h5>
                <p>Every 0,1 ETH purchase made with your referral link gives you a stake in the 5 million tokens up for grabs!</p>
              </li>
              <li class="mb20">
                <h5 class="mb0">How do I participate?</h5>
                <p>Simply use the above form to sign up. You’ll receive Your referral link within 48 hours. Then You can use this link to refer your friends. The people you refer, the more tokens you’ll receive!</p>
              </li>
              <li class="mb20">
                <h5 class="mb0">When will I receive my bonus tokens?</h5>
                <p>Tokens will be sent via airdrop to all eligible participants after the ICO closes on <b>March 12, 2018</b></p>
              </li>
              <li class="mb20">
                <h5 class="mb0">How many tokens will I receive?</h5>
                <p>The number of CCOS tokens referral program participants will receive is based on the number of token purchases made with their referral link during the ICO period.</p>
              </li>
            </ol>
        </div>
      </div>

      <div class="block block--no-shadow">
        <div class="block__content block__content--more-pad pt60 tc">
            <h3>How your referral link can be used:</h3>
            <ul style="display: inline-block; text-align: left; list-style: disc; padding-left: 40px;">
              <li class="mb5">Send it to friends via messaging apps</li>
              <li class="mb5">Add your referral link to your social media profile</li>
              <li class="mb5">Create forum signatures with your link</li>
              <li class="mb5">Articles and blog reviews are a great way to share your link</li>
              <li class="mb5">Add your link to a Youtube video about the project</li>
              <li class="mb5">Mention the project in blockchain social media groups.</li>
            </ul>
        </div>
      </div><!-- .block -->

    </div>
  </div>
</template>

<style></style>

<script>
  import axios from 'axios'
  import { configuration } from '@/configuration'

  export default {
    methods: {
      async postForm () {
        this.message = ''
        const isValid = await this.$validator.validateAll()

        if (isValid) {
          axios.post(`${configuration.apiURL}/referral-signup`, this.form).then(response => {
            if (200 === response.status) {
              this.message = 'You have successfully submitted your application. We will contact you within 48 hours.'
            } else {
              this.message = response.data.message
            }
          }).catch(error => {
            this.message = 'There was an error'
            if (error.response && error.response.data &&  error.response.data.message) {
              console.log(error.response.data.message)
              this.message = error.response.data.message
            }
          })
        }

      }
    },
    data () {
      return {
        form: {
          name: '',
          email: '',
          wallet: ''
        },
        message: ''
      }
    },
    head: {
      title () {
        return {
          inner: 'Crowdsale',
          separator: '|',
          complement: 'Crowdfunding platform for ICO campaigns'
        }
      }
    },
    computed: {

    }
  }
</script>
