<template>
  <div class="roadmap__list-wrap">
    <div class="roadmap__item clearfix" v-for="(roadmap, index) in roadmapItems.roadmap_list" v-bind:class="{ 'done' : roadmap.done, 'roadmap__item--future': roadmap.future }">
      <div class="roadmap__future--release" v-if="roadmap.future">
        <div class="table">
          <div class="table__cell table__cell--bottom">
            <div class="mb30 mt60 fw__700" v-lang.futureDevelopments>Future developments</div>
          </div>
        </div>
      </div>
      <div class="roadmap__status-wrap tc">
        <div class="roadmap__status" v-bind:class="{ 'done' : roadmap.done }">
          <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21">
              <path fill="none" fill-rule="evenodd" stroke="#989EB4" stroke-linecap="square" stroke-width="2" d="M2 12l8 7L21 2"/>
            </svg>
          </figure>
        </div>
      </div><!-- .roadmap__status-wrap -->
      <div class="roadmap__inner-wrap">
        <div class="roadmap__inner">
          <div class="roadmap__details clearfix">
            <div class="roadmap__step">{{ index + 1 }}<span class="dot">.</span> <small v-lang.step>step</small></div>
            <div class="roadmap__status-text">{{ roadmap.sum }}</div>
          </div>
          <div class="roadmap__desc article" v-html="roadmap.desc"></div>
        </div>
      </div><!-- .roadmap__inner-wrap -->
    </div><!-- .roadmap__item -->
  </div>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import axios from 'axios'

  export default {
    created () {
      var that = this
      axios.get(`${configuration.pageDataBaseURL}${this.pageId}.json`).then(response => {
        if (response.status === 200) {
          that.roadmapItems = response.data.acf
        }
      }).catch(error => {
        console.log(error)
      })
    },
    data () {
      return {
        roadmapItems: []
      }
    },
    computed: {
      pageId () {
        return window.pageId
      }
    }
  }
</script>
