<template>
  <common-root></common-root>
</template>
<style></style>
<script>
  import CommonRoot from '@/components/CommonRoot'

  export default {
    components: {
      'common-root': CommonRoot
    },
    created () {},
    mounted () {},
    data () {
      return {
        items: []
      }
    },
    methods: {}
  }
</script>
