<template>
  <ul class="social__links">
    <li class="social__link" v-for="socialItem in socialItems">
        <a :href="socialItem.url" target="_blank">
          <img :src="socialItem.icon" :alt="socialItem.alt">
        </a>
    </li>
  </ul>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import axios from 'axios'

  export default {
    created () {
      var that = this
      axios.get(`${configuration.pageDataBaseURL}${window.pageId}.json`).then(response => {
        if (response.status === 200) {
          that.socialItems = []
          response.data.acf.social_links.forEach(function (item) {
            that.socialItems[that.socialItems.length] = {
              url: item.link,
              icon: '/static/images/social-icons/icon-' + item.icon.toLowerCase() + '-white.svg',
              alt: item.icon
            }
          })
        }
      }).catch(error => {
        console.log(error)
      })
    },
    data () {
      return {
        socialItems: []
      }
    }
  }
</script>
