<template>
  <ul class="horizontal__list horizontal__list--social inline__block">
    <li class="mr10">
      <a class="link__bordered link__bordered--wicon" target="_blank" href="https://bitcointalk.org/index.php?topic=2626117.0">
        <span class="link__bordered--icon link__bordered--ghost">
          <img class="hdmb" src="/static/images/social-icons/icon-bitcointalk-gray-dark.svg" alt="BitcoinTalk">
          <img class="shmb" src="/static/images/social-icons/icon-bitcointalk-white.svg" alt="BitcoinTalk">
        </span>
        <span class="link__bordered--text" v-lang.joinBitcointalk>Join Bitcointalk</span>
      </a>
    </li>
    <li class="mr10">
      <a class="link__bordered link__bordered--wicon" target="_blank" href="https://t.me/CrowdCoinageOS">
        <span class="link__bordered--icon link__bordered--ghost">
          <img class="hdmb" src="/static/images/social-icons/icon-telegram-gray-dark.svg" alt="Telegram">
          <img class="shmb" src="/static/images/social-icons/icon-telegram-white.svg" alt="Telegram">
        </span>
        <span class="link__bordered--text" v-lang.joinTelegram>Join Telegram</span>
      </a>
    </li>
  </ul>
</template>
<style></style>
<script></script>
