<template>
  <div class="cc_modal js__open" v-if="openModal">
    <div class="cc_modal__backdrop" v-on:click="closeModal"></div>
    <div class="cc_modal__content">
      <div class="cc__modal__content--header">
        <button class="cc_modal__close" v-on:click="closeModal" type="button">
          <img src="/static/images/icon-close.svg" alt="Close">
        </button>
      </div>
      <div class="cc_modal__content--inner">
        <div class="article article--bigger tc">
          <h3 v-lang.tokenHoldersTitle>8,000 CCOS token holders!</h3>
          <p v-lang.tokenHoldersText>We already have over <strong>8,000 CCOS token holders.</strong> <br>To take part in it, click the link below.</p>
          <h5 v-lang.largeContrBonus>Large Contributor Bonus</h5>
          <p>3 ETH - 10%<br> 5 ETH - 30%<br> 10 ETH - 50%<br> 30 ETH - 70%<br> 50 ETH - 80%<br> <span v-lang.extraBonusLabel>(bonus on top of any other bonus that may apply)</span></p>
          <a class="button" href="/crowdsale" v-on:click="closeModal" v-lang.getYoursNow>Get your CCOS tokens now &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</template>
<style></style>
<script>
  import moment from 'moment'

  export default {
    created () {
      const that = this
      window.addEventListener('keyup', function (event) {
        if (event.keyCode === 27) {
          that.closeModal()
          that.openModal = false
        }
      })
    },
    mounted () {
      this.$loaded = true
      if (this.$cookies.isKey('tokenHoldersModalCookie')) {
        this.openModal = false
      }
    },
    data () {
      return {
        openModal: true
      }
    },
    methods: {
      closeModal () {
        this.$cookies.set('tokenHoldersModalCookie', true, moment().add(3, 'hours').toDate())
        this.openModal = false
      }
    }
  }
</script>
