<template>
  <div class="tokensale__wrap">

    <!-- //  IF ICO is NOT live  // -->
    <div v-if="!isLive" class="tokensale__top">
      <div class="container">
        <div class="table">
          <div class="table__cell">
            <h4 class="title--light mb0 fw__700" v-lang.icoStarts>ICO Starts</h4>
            <p class="text--light">{{ new Date(countDownDate) | moment('YYYY/MM/DD') }}</p>
          </div>
          <div class="table__cell">
            <countdown class="countdown--xsmall mb0 tr"></countdown>
          </div>
        </div>
      </div>
    </div>
    <!-- //  IF ICO is NOT live  // -->

    <!-- //  IF ICO is live  // -->
    <div v-if="isLive" class="tokensale__top mb30">
      <div class="container">
        <div class="table">
          <div class="table__cell">
            <div class="table table--fixed">
              <div class="table__cell box__s-cont w__32 pr10">
                <figure>
                  <img src="/static/images/logo-crowdcoinage-white-symbol.svg" alt="Logo">
                </figure>
              </div>
              <div class="table__cell">
                <div class="article article--small article--white inline__block">
                  <p><strong v-lang.totalInvest>CCOS tokens sold:</strong></p>
                </div>
              </div>
            </div>
          </div>
          <div class="table__cell tr">
            <h3 class="title__bold color__white mb0">{{ formatedTokensSold }}</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- //  IF ICO is live  // -->

    <!-- <div class="tokensale__bottom"> -->
      <!-- <div class="progress__bar--hor-wrap"> -->

        <!-- //  IF ICO is live  // -->
          <!-- <div v-if="isLive" class="progress__steps">
            <div class="progress__step-first"><span>0</span></div>
            <div class="progress__step"><span>{{ q1 }}</span></div>
            <div class="progress__step"><span>{{ q2 }}</span></div>
            <div class="progress__step"><span>{{ q3 }}</span></div>
            <div class="progress__step-last"><span><span v-lang.goal>Goal</span><br>{{ q4 }}</span></div> -->
            <!--
              for calculation DO NOT consider last element
              6 elements - .progress__step | width: 20%
              5 elements - .progress__step | width: 25%
              ...
            -->
          <!-- </div> -->
        <!-- //  IF ICO is live  // -->

        <!-- <div class="progress__bar--hor"> -->

          <!-- ////  IF ICO is NOT live  //// -->
            <!-- <span v-if="!isLive && progressWidth <= 20" class="progress__bar--hor-text progress__bar--hor-text-dark" >
              {{ days }}
              <span v-lang.daysToGo>Days to go</span>
            </span> -->
          <!-- ////  IF ICO is NOT live  //// -->

          <!-- <span class="progress__bar--hor-percent" v-bind:style="{ 'width': tokensSoldPercentage + '%' }"> -->

            <!-- ////  IF ICO is NOT live  //// -->
              <!-- <span v-if="!isLive && progressWidth > 20" class="progress__bar--hor-text">
                {{ days }}
                <span v-lang.daysToGo>Days to go</span>
              </span> -->
            <!-- ////  IF ICO is NOT live  //// -->

          <!-- </span>

        </div>
      </div> -->
    <!-- </div> -->
    <!-- <div class="tokensale__bubble">
      <div class="container">
        <div class="bubble__wrap"> -->

          <!-- ////  IF ICO is NOT live  //// -->
            <!-- <div v-if="!isLive" class="bubble">
              <span class="bubble__text">
                <small v-lang.bonusUpTo>Bonuses up to</small>
                {{ bonus }}%
                <button class="bubble__link" v-on:click="getBonusTable" type="button" v-lang.seeHowLabel>See how</button>
                <div class="hidden bonus__table">
                  <table class="structure__table table__th-left fixed">
                    <tbody>
                      <tr>
                        <th v-lang.bonusLabel>Bonus</th>
                        <td><span v-lang.firstWeekLabel>1st week</span> - 20%<br> <span v-lang.secondWeekLabel>2nd week</span> - 15%<br> <span v-lang.thirdWeekLabel>3rd week</span> - 10%<br> <span v-lang.fourthWeekLabel>4th week</span> - 0%</td>
                      </tr>
                      <tr>
                        <th v-lang.subscriberBonusLabel>Subscriber Bonus</th>
                        <td><span v-lang.firstWeekLabel>1st week</span> - 40%<br> <span v-lang.subscriberBonusText = "{startDate: getICOstartDate()}">(leave us your email before the ICO starts on {{ getICOstartDate() }} you receive a special link that gives a twice as much bonus from all investments made during a first week)</span></td>
                      </tr>
                      <tr>
                        <th v-lang.largeContrBonus>Large Contributor Bonus</th>
                        <td>3 ETH - 10%<br> 5 ETH - 30%<br> 10 ETH - 50%<br> 30 ETH - 70%<br> 50 ETH - 80%<br> <span v-lang.extraBonusLabel>(bonus on top of any other bonus that may apply)</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </span>
            </div> -->
          <!-- ////  IF ICO is NOT live  //// -->

          <!-- //  IF ICO is live  // -->
            <!-- <div v-if="isLive" class="bubble__wrap pt30 pb30">
              <div class="bubble bubble--large">
                <div class="svg__progress--bar-wrap">
                  <svg class="svg__progress--bar" width="340" height="340" viewBox="0 0 340 340">
                    <circle cx="170" cy="170" r="156" fill="none" stroke="rgba(255, 255, 255, 0)" stroke-width="14" />
                    <circle cx="170" cy="170" r="156" fill="none" stroke="#0575e6" stroke-width="14" :stroke-dasharray="2 * Math.PI * 156" :stroke-dashoffset="bonusEndOffset" class="svg__progress--value" />
                  </svg>
                </div>
                <div class="legend__list">
                  <div class="legend legend--top legend--vertical w__70 h__70 pb25">
                    <div class="table">
                      <div class="table__cell table__cell--bottom ttc">
                        <span>{{ getCurrentBonus()['percentage'] }}% <span v-lang.bonusEnds>Bonus ends</span></span>
                      </div>
                    </div>
                  </div>
                  <div class="legend legend--right legend--horizontal tl pl30">
                    <div class="table">
                      <div class="table__cell ttc">
                        126 <span v-lang.hours>Hours</span>
                      </div>
                    </div>
                  </div>
                  <div class="legend legend--bottom legend--vertical pt25">
                    <div class="table">
                      <div class="table__cell table__cell--top ttc">
                        84 <span v-lang.hours>Hours</span>
                      </div>
                    </div>
                  </div>
                  <div class="legend legend--left legend--horizontal tr pr30">
                    <div class="table">
                      <div class="table__cell ttc">
                        42 <span v-lang.hours>Hours</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bubble__text">
                  <div class="article article--white">
                    <p v-lang.getBonusDefault>Get bonus</p>
                  </div>
                  {{ getCurrentBonus()['percentage'] }}%
                </div>
              </div>
            </div> -->
            <!-- //  IF ICO is live  // -->

            <!-- //  IF ICO is live  // -->
            <!-- <a data-cat="Buttons" data-action="buy_tokens" v-if="isLive" href="/crowdsale" class="button button--green button--vbig button--caret-top button--ga pt15 pb15 pl35 pr35 mt20">
              <span class="link__bordered--text link__bordered--text-white fw__700" v-lang.buyTokens>Buy tokens</span>
            </a> -->
            <!-- //  IF ICO is live  // -->
        <!-- </div>
      </div>
    </div> -->

    <!-- //  IF ICO is live  // -->
      <!-- <h1 v-if="isLive" class="title__huge color__green ttu tc mb15" v-lang.crowdsaleTitle>ICO is LIVE</h1> -->
    <!-- //  IF ICO is live  // -->

    <!-- ////  IF ICO is NOT live  //// -->
      <div v-if="!isLive" class="container container__signup">
        <join-presale></join-presale>
        <hr>
      </div>
    <!-- ////  IF ICO is NOT live  //// -->

    <modal :newHtml="html" v-if="html" v-on:onClose="html = null"></modal>
  </div>
</template>
<style></style>
<script>
  import { configuration } from '@/configuration'
  import moment from 'moment'
  import Countdown from '@/components/Countdown'
  import JoinPresale from '@/components/JoinPresale'
  import ccModal from '@/components/ccModal'
  import { isLive, getTokensSold, getCurrentBonus,formatNumbers } from '@/helpers'
  import { TOTAL_TOKENS, POSSIBLE_ENDINGS } from '@/constants'

  export default {
    components: {
      'countdown': Countdown,
      'join-presale': JoinPresale,
      'modal': ccModal
    },
    created () {
      this.shuffleBonuses()
    },
    async mounted () {
      const that = this
      that.tokensSold = await getTokensSold()
      this.tokensInterval = setInterval(async () => {
        that.tokensSold = await getTokensSold()
      }, 3000)
    },
    beforeDestroy () {
      clearInterval(this.interval)
    },
    computed: {
      bonusEndOffset () {
        const bonus = getCurrentBonus()

        const dateFrom = new Date(bonus.dateFrom)
        const dateTo = new Date(bonus.dateTo)

        const datesDuration = moment.duration(moment(dateTo).diff(dateFrom))
        const datesTotal = datesDuration.asHours()

        const duration = moment.duration(moment(dateTo).diff(new Date()))
        const hours = duration.asHours()
        const total = 2 * Math.PI * 156
        const percent = 100 - ((100 * hours) / datesTotal)
        const current = (total * percent) / 100
        return total - current
      },
      tokensSoldPercentage () {
        return this.tokensSold * 100 / this.q4_number
      },
      formatedTokensSold () {
        return formatNumbers(this.tokensSold, 0)
      },
      isLive: () => isLive(),

      // progress
      q4_number () {
        const investedAmount = this.tokensSold
        const possibleEndings = POSSIBLE_ENDINGS

        for (var x = 0; x <= possibleEndings.length-1; x++) {
          if (investedAmount < possibleEndings[x]) {
            return possibleEndings[x]
          }
        }

      // todo: invest is bigger
        return TOTAL_TOKENS
      },
      q4_type () {
        const nr = this.q4_number
        if (nr > 999999) {
          return {symbol: 'M', divider: 1000000}
        } else if (nr > 999) {
          return {symbol: 'K', divider: 1000}
        } else {
          return {symbol: '', divider: 1}
        }
      },

      q1 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider'] * 0.25).toFixed(2)) + type['symbol']
      },
      q2 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider'] * 0.5).toFixed(2)) + type['symbol']
      },
      q3 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider'] * 0.75).toFixed(2)) + type['symbol']
      },
      q4 () {
        const type = this.q4_type
        return parseFloat((this.q4_number / type['divider']).toFixed(2)) + type['symbol']
      }
    },
    data () {
      const countDownDate = new Date(`${configuration.ICOStartDate}`)
      const duration = moment.duration(moment(countDownDate).diff(new Date()))
      const days = duration.asDays()
      const start = 14
      const progressWidth = parseInt((days * 100) / start)
      return {
        countDownDate: countDownDate,
        progressWidth: progressWidth,
        days: days.toFixed(),
        html: null,
        index: 0,
        bonus: 20,
        tokensSold: 0
      }
    },
    methods: {
      getCurrentBonus,
      getBonusTable () {
        this.html = document.querySelector('.bonus__table').innerHTML
      },
      shuffleBonuses () {
        const that = this
        const bonuses = [20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
        that.bonus = bonuses[that.index]
        that.interval = setInterval(() => {
          that.index = that.index + 1 === bonuses.length ? 0 : that.index + 1
          that.bonus = bonuses[that.index]
        }, 10000)
      },
      getICOstartDate () {
        return moment(this.countDownDate).format('YYYY/MM/DD')
      }
    }
  }
</script>
