<template>
  <div>
    <common-root></common-root>
    <transition name="fade">
    <div id="modalAfterSubmit">
      <div class="modal__backdrop" v-bind:class="{ js__open: isActive }" v-on:click.prevent="closeBackdrop"></div>
      <div class="modal__wrap" v-bind:class="{ js__open: isWrapActive }" data-modal="after-submit">
          <div class="modal modal__full-width">
              <div class="modal__inner modal__inner--morepad">
                  <button type="button" class="close__modal button button--circle" v-on:click.prevent="close">
                    <img src="/static/images/icon-close.svg" alt="Close">
                  </button>
                  <div class="modal__content-wrap">
                      <div class="modal__content tc">
                          <h2 class="section__title" v-lang.itIsSad>It is sad to see you go!</h2>
                          <div class="article mb20">
                            <p v-lang.confirmLeave>Please confirm your wish to leave our mailing list</p>
                            <form class="amount__submit">
                              <div class="input--wrap">
                                <input type="checkbox" @click="checkboxToggle">
                                <span v-lang.receiveAnymore>I do not wish to receive any email correspondence anymore</span>
                              </div>
                              <div class="error" v-if="error">
                                <p v-lang.checkAgain>Please check the URL in e-mail address and try again</p>
                              </div>
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </transition>
  </div>
</template>
<style>
.error {
  color: red;
  font-size: 12px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}
.input--wrap {
  text-align: left;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
<script>
  import { configuration } from '@/configuration'
  import axios from 'axios'
  import CommonRoot from '@/components/CommonRoot'

  export default {
    components: {
      'common-root': CommonRoot
    },
    created () {
      this.token = this.$router.currentRoute.params.token
      this.isWrapActive = true
      this.isActive = true
    },
    data () {
      return {
        isWrapActive: false,
        isActive: false,
        token: '',
        error: false
      }
    },
    methods: {
      checkboxToggle () {
        let that = this
        axios({
          method: 'post',
          url: `${configuration.apiURL}/person/unsubscribe`,
          data: JSON.stringify({token: this.token}),
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          }
        }).then(response => {
          this.isWrapActive = false
          this.isActive = false
        }).catch(error => {
          that.isWrapActive = true
          that.isActive = true
          that.error = true
          console.log(error)
        })
      },
      close () {
        this.isWrapActive = false
        this.isActive = false
        this.error = false
      }
    }
  }
</script>
