<template>
  <div id="wrapper">
    <main-menu></main-menu>
    <headers></headers>
    <router-view></router-view>
    <foot></foot>
  </div>
</template>
<style></style>
<script>
import MainMenu from '@/components/MainMenu'
import Headers from '@/components/Headers'
import Footer from '@/components/Footer'

export default {
  name: 'app',
  components: {
    'main-menu': MainMenu,
    'headers': Headers,
    'foot': Footer
  }
}
</script>
